{% extends 'front/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <div class="border-bottom">
    <div class="container text-center space-top-2 space-top-md-4 space-top-lg-3">
      <div class="w-md-75 mx-md-auto mb-5">
        <h1 class="display-4 font-size-md-down-5 font-weight-medium mb-3">User Acquisition Framework</h1>
        <p class="lead">The all in one tool to help you learn and execute better user acquisition strategies and grow your business.</p>
      </div>

      <div class="mb-9">
        <!-- Fancybox -->
        <!--<a class="js-fancybox btn btn-outline-secondary btn-wide btn-pill transition-3d-hover mb-2 mb-sm-0 mr-sm-2" href="javascript:;"
           data-src="//vimeo.com/167434033"
           data-speed="700"
           data-animate-in="zoomIn"
           data-animate-out="zoomOut"
           data-caption="Front - Responsive Website Template">
          <small class="fas fa-play mr-2"></small>
          Play Video
        </a>-->
        <!-- End Fancybox -->

        <a class="btn btn-primary btn-wide btn-pill transition-3d-hover mb-2 mb-sm-0" href="{% url 'account_signup' %}">Try It Now</a>
      </div>

      <!-- Showcase Mockup -->
      <figure id="SVGshowcaseMockup1" class="svg-preloader ie-showcase-mockup-1">
        <img class="js-svg-injector" src="{% static 'front/assets/svg/illustrations/showcase-mockup-1.svg' %}" alt="Image Description"
             data-img-paths='[
               {"targetId": "#SVGshowcaseMockup1Img1", "newPath": "{% static 'front/assets/img/755x470/img1.jpg' %}"},
               {"targetId": "#SVGshowcaseMockup1Img2", "newPath": "{% static 'front/assets/img/300x360/img1.jpg' %}"}
             ]'
             data-parent="#SVGshowcaseMockup1">
      </figure>
      <!-- End Showcase Mockup -->
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Features Section -->
  <div id="featuresSection" class="container space-2 space-md-3">
    <!-- Title -->
    <div class="w-md-75 w-lg-50 text-center text-md-left mb-9">
      <span class="u-label u-label--sm u-label--success mb-2">Key Features</span>
      <h2 class="h3 font-weight-normal">Make the most out of your marketing campaigns by learning and executing best practices of digital marketing</h2>
    </div>
    <!-- End Title -->

    <div id="SVGkeyFeatures" class="svg-preloader card-deck card-lg-gutters-2 d-block d-lg-flex">
      <div class="card shadow mb-3 mb-lg-0">
        <!-- Icon Blocks -->
        <div class="card-body p-5">
          <figure class="ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-24.svg' %}" alt="SVG"
                 data-parent="#SVGkeyFeatures">
          </figure>
          <h3 class="h5">Academy <!--<span class="badge badge-success font-weight-medium badge-pill ml-1">More</span>--></h3>
          <p class="font-size-1">All you need to know to get better results with your user acquisiton strategies.</p>
          <!--<a class="font-size-1" href="#">Sylabus <span class="fas fa-angle-right align-middle ml-2"></span></a>-->
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="card shadow mb-3 mb-lg-0">
        <!-- Icon Blocks -->
        <div class="card-body p-5">
          <figure class="ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-42.svg' %}" alt="SVG"
                 data-parent="#SVGkeyFeatures">
          </figure>
          <h3 class="h5">Projects</h3>
          <p class="font-size-1">Apply all your learning to real projects and keep track of them.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="card mb-3 mb-lg-0">
        <!-- Icon Blocks -->
        <div class="card-body p-5">
          <figure class="ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-12.svg' %}" alt="SVG"
                 data-parent="#SVGkeyFeatures">
          </figure>
          <h3 class="h5">Library</h3>
          <p class="font-size-1">A great place to find great resources to help you acquire more users</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="card shadow">
        <!-- Icon Blocks -->
        <div class="card-body p-5">
          <figure class="ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-3.svg' %}" alt="SVG"
                 data-parent="#SVGkeyFeatures">
          </figure>
          <h3 class="h5">Tools</h3>
          <p class="font-size-1">A curated list of the best tools to execute and optimize your marketing efforts</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
  </div>
  <!-- End Features Section -->

  <!-- CTA Section -->
  <div id="SVGshowcaseMockup2" class="svg-preloader container space-bottom-2 space-bottom-md-3">
    <div class="bg-primary text-white shadow-primary-lg rounded p-5 p-md-9">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-5 mb-7 mb-md-0">
          <!-- Info -->
          <div class="mb-5">
            <h2 class="font-weight-normal">The UA Framework will help learn and get better acquisition results</h2>
          </div>
          <a class="btn btn-white btn-wide btn-pill transition-3d-hover" href="{% url 'account_signup' %}">
            Get Started
            <span class="fas fa-arrow-right text-primary font-size-1 ml-2"></span>
          </a>
          <!-- End Info -->
        </div>

        <div class="col-md-7 col-lg-5">
          <!-- Showcase Mockup -->
          <figure class="ie-showcase-mockup-2">
            <img class="js-svg-injector" src="{% static 'front/assets/svg/illustrations/showcase-mockup-2.svg' %}" alt="Image Description"
                 data-img-paths='[
                   {"targetId": "#SVGshowcaseMockup2Img1", "newPath": "{% static 'front/assets/img/435x550/img1.jpg' %}"}
                 ]'
                 data-parent="#SVGshowcaseMockup2">
          </figure>
          <!-- End Showcase Mockup -->
        </div>
      </div>
    </div>
  </div>
  <!-- End CTA Section -->

  <!-- Learn Section -->
  <div id="learnSection" class="clearfix border-bottom">
    <div class="container">
      <!-- Title -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="h1 font-weight-normal">Why Join?</h2>
        <p>Before you spend any money on marketing, you have to learn best practices to make the most out of every cent. Here you'll find everything you need.</p>
      </div>
      <!-- End Title -->

      <div id="SVGicons" class="svg-preloader w-lg-75 mx-md-auto mb-11">
        <div class="row">
          <div class="col-6 col-sm-3 mb-5 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="text-center">
              <figure class="ie-height-40 w-100 max-width-6 mx-auto mb-3">
                <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-24.svg' %}" alt="SVG"
                     data-parent="#SVGicons">
              </figure>
              <h3 class="h6 font-weight-normal">Learn Digital Marketing</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-6 col-sm-3 mb-5 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="text-center">
              <figure class="ie-height-40 w-100 max-width-6 mx-auto mb-3">
                <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-42.svg' %}" alt="SVG"
                     data-parent="#SVGicons">
              </figure>
              <h3 class="h6 font-weight-normal">Keep track of projects</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-6 col-sm-3">
            <!-- Icon Blocks -->
            <div class="text-center">
              <figure class="ie-height-40 w-100 max-width-6 mx-auto mb-3">
                <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-12.svg' %}" alt="SVG"
                     data-parent="#SVGicons">
              </figure>
              <h3 class="h6 font-weight-normal">Access Resources</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-6 col-sm-3">
            <!-- Icon Blocks -->
            <div class="text-center">
              <figure class="ie-height-40 w-100 max-width-6 mx-auto mb-3">
                <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-3.svg' %}" alt="SVG"
                     data-parent="#SVGicons">
              </figure>
              <h3 class="h6 font-weight-normal">Find Great Tools</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>

    <!-- Showcase Mockup -->
    <figure id="SVGshowcaseMockup3" class="svg-preloader ie-showcase-mockup-3">
      <img class="js-svg-injector" src="{% static 'front/assets/svg/illustrations/showcase-mockup-3.svg' %}" alt="Image Description"
           data-img-paths='[
             {"targetId": "#SVGshowcaseMockup3Img1", "newPath": "{% static 'front/assets/img/755x470/img2.jpg' %}"}
           ]'
           data-parent="#SVGshowcaseMockup3">
    </figure>
    <!-- End Showcase Mockup -->
  </div>
  <!-- End Learn Section -->

  <!-- Pricing Section -->
  <div id="pricingSection" class="svg-preloader border-bottom">
    <div class="container space-2 space-md-3">
      <!-- Title -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="h1 font-weight-normal">Pricing</h2>
        <p>Academy, Project Tracker, and Resources at a great price</p>
      </div>
      <!-- End Title -->

      <div class="row">
        <div id="stickyBlockStartPoint" class="col-md-5 mb-9 mb-md-0">
          <!-- Sticky Block -->
          <div class="js-sticky-block"
               data-has-sticky-header="true"
               data-offset-target="#logoAndNav"
               data-sticky-view="md"
               data-start-point="#stickyBlockStartPoint"
               data-end-point="#stickyBlockEndPoint"
               data-offset-top="24"
               data-offset-bottom="24">
            <!-- Pricing -->
            <div class="position-relative bg-primary shadow-primary-lg text-white rounded z-index-2 p-7">
              <span class="d-block">
                <span class="align-top">$</span>
                <span class="display-4 font-weight-semi-bold">39</span>
                <span class="font-size-3">.00</span>
                <span class="d-block">month</span>
              </span>

              <hr class="opacity-md my-4">

              <div class="mb-5">
                <p class="text-light">Start using this framework today and ramp up your user acquisition efforts.</p>
              </div>

              <a class="btn btn-white btn-pill transition-3d-hover mb-2" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/">
                Get Started
                <span class="fas fa-arrow-right text-primary font-size-1 ml-2"></span>
              </a>

              <p class="small text-white-70">No credit card required.</p>

              <!-- SVG Shape -->
              <div class="position-absolute bottom-0 right-0 w-100 max-width-15 z-index-n1">
                <figure class="ie-abstract-shapes-11">
                  <img class="js-svg-injector rounded-bottom" src="{% static 'front/assets/svg/components/abstract-shapes-11.svg' %}" alt="Image Description"
                       data-parent="#pricingSection">
                </figure>
              </div>
              <!-- End SVG Shape -->
            </div>
            <!-- End Pricing -->
          </div>
          <!-- End Sticky Block -->
        </div>

        <div class="col-md-7">
          <div class="pl-lg-6">
            <div class="row">
              <div class="col-sm-6 mb-5">
                <!-- Icon Blocks -->
                <figure class="ie-height-40 w-100 max-width-6 mb-3">
                  <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-24.svg' %}" alt="SVG"
                       data-parent="#pricingSection">
                </figure>
                <h4 class="h5">Amazing Learning Content</h4>
                <p>Everything you need to know about user acquisition and digital marketing in one place.</p>
                <!-- End Icon Blocks -->
              </div>
              <div class="col-sm-6 mb-5">
                <!-- Icon Blocks -->
                <figure class="ie-height-40 w-100 max-width-6 mb-3">
                  <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-42.svg' %}" alt="SVG"
                       data-parent="#pricingSection">
                </figure>
                <h4 class="h5">Track Projects</h4>
                <p>Apply what you learn on our easy to use project management tool and track progress.</p>
                <!-- End Icon Blocks -->
              </div>
            </div>

            <div class="row mb-9">
              <div class="col-sm-6 mb-5">
                <!-- Icon Blocks -->
                <figure class="ie-height-40 w-100 max-width-6 mb-3">
                  <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-32.svg' %}" alt="SVG"
                       data-parent="#pricingSection">
                </figure>
                <h4 class="h5">Cancel anytime</h4>
                <p>If its not for you, just cancel, no hidden costs or fees.</p>
                <!-- End Icon Blocks -->
              </div>
              <div class="col-sm-6">
                <!-- Icon Blocks -->
                <figure class="ie-height-40 w-100 max-width-6 mb-3">
                  <img class="js-svg-injector" src="{% static 'front/assets/svg/icons/icon-31.svg' %}" alt="SVG"
                       data-parent="#pricingSection">
                </figure>
                <h4 class="h5">Money back</h4>
                <p>100% guaranteed money back. No questions asked.</p>
                <!-- End Icon Blocks -->
              </div>
            </div>

            <div class="mb-4">
              <h4 class="h5">What people are saying</h4>
            </div>

            <!-- Review -->
            <div class="media mb-3">
              <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="{% static 'front/assets/img/100x100/img1.jpg' %}" alt="Image Description">
              </div>
              <div class="media-body">
                <div class="card shadow p-3 mb-2">
                  <p class="font-size-1">This is an amazing tool to learn about digital marketing and user acquisition. Has great content and it's easy to use. Thank you!</p>
                  <div class="media align-items-center">
                    <!-- SVG Quote -->
                    <figure class="mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px"
                         viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                        <path class="fill-gray-500" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                          C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                          c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                          C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
                      </svg>
                    </figure>
                    <!-- End SVG Quote -->

                    <!-- Reviewer Info -->
                    <div class="media-body">
                      <h5 class="font-size-1 mb-0">Louis Aronne</h5>
                      <small class="d-block text-secondary">Saturday Session Wine Founder</small>
                    </div>
                    <!-- End Reviewer Info -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End Review -->

            <!-- Review -->
            <div class="media mb-3">
              <div class="card shadow p-3 mb-2 mr-3">
                <p class="font-size-1">The UA Framework has helped us grow our online sales and manage our projects better!</p>
                <div class="media align-items-center">
                  <!-- SVG Quote -->
                  <figure class="mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px"
                       viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                      <path class="fill-gray-500" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                        C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                        c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                        C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
                    </svg>
                  </figure>
                  <!-- End SVG Quote -->

                  <!-- Reviewer Info -->
                  <div class="media-body">
                    <h5 class="font-size-1 mb-0">Jason Sherman</h5>
                    <small class="d-block text-secondary">TapRm Founder</small>
                  </div>
                  <!-- End Reviewer Info -->
                </div>
              </div>

              <div class="media-body">
                <div class="u-avatar">
                  <img class="img-fluid rounded-circle" src="{% static 'front/assets/img/100x100/img8.jpg' %}" alt="Image Description">
                </div>
              </div>
            </div>
            <!-- End Review -->

            <!-- Review -->
            <div class="media">
              <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="{% static 'front/assets/img/100x100/img10.jpg' %}" alt="Image Description">
              </div>
              <div class="media-body">
                <div class="card shadow p-3 mb-2">
                  <p class="font-size-1">It's beautiful and the coding is done quickly and seamlessly. Keep it up!</p>
                  <div class="media align-items-center">
                    <!-- SVG Quote -->
                    <figure class="mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px"
                         viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                        <path class="fill-gray-500" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                          C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                          c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                          C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
                      </svg>
                    </figure>
                    <!-- End SVG Quote -->

                    <!-- Reviewer Info -->
                    <div class="media-body">
                      <h5 class="font-size-1 mb-0">James Austin</h5>
                      <small class="d-block text-secondary">Manager</small>
                    </div>
                    <!-- End Reviewer Info -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End Review -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pricing Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
{% endblock %}