{% extends 'front/base.html' %}
{% load staticfiles %}
{% block content %}
<div id="content" role="main">
	<div class="container space-top-2 space-top-md-4">
		<div class="position-relative">
			<!-- Title -->
			<div class="w-md-80 w-lg-50 text-center mx-md-auto">
				<div class="mb-4">
					<h2 class="h1 text-primary">The Academy <span class="font-weight-semi-bold">Syllabus</span></h2>
					<p>Learn the right techniques to make the most out of your marketing campaigns and grow your business faster</p>
				</div>
				<a class="js-go-to btn btn-primary transition-3d-hover" href="javascript:;" data-target="#jobPositions" data-type="static" style="display: inline-block;">
				Try It Now
				</a>
			</div>
			<!-- End Title -->

			<!-- SVG Shapes - Top Left -->
			<figure class="d-none d-sm-block position-absolute bottom-0 left-0" style="width: 70px;">
				<img src="{% static 'front/assets/svg/flat-icons/media.svg' %}" alt="Image Description">
			</figure>
			<!-- End SVG Shapes - Top Left -->

			<!-- SVG Shapes - Bottom Right -->
			<figure class="d-none d-sm-block position-absolute top-0 right-0" style="width: 80px;">
		<img src="{% static 'front/assets/svg/flat-icons/jet.svg' %}" alt="Image Description">
			</figure>
			<!-- End SVG Shapes - Bottom Right -->
		</div>
	</div>
	<div class="container space-2 space-md-3">

		<div class="row">
			<div class="col-sm-6 col-lg-4 mb-7">
				<!-- Icon Blocks -->
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">1.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Business & Customer Strategy</h3>
						<p>Start the User Acquisition journey by setting up a clear business and customar strategy.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">2.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Objective First Framework</h3>
						<p>Set better objectives by using this common method that will help you optimize your campaigns.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">3.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Search Engine Optimization</h3>
						<p>Here you will learn why SEO matters and how to optimize for search engines so you can drive more organic traffic.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">4.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Paid Advertising</h3>
						<p>Learn how google paid search works and how to optimize your campaigns to get the most value out of your advertisement budget.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">5.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Content Marketing</h3>
						<p>Learn why good content makes a difference and what are some best practices you can start doing to improve engagement.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">6.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Convertion Rate Optimization</h3>
						<p>In this section you will learn the basics of improving your convertion rate and the importance of AB testing.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">7.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Customer Engagement & Retention</h3>
						<p>Learn how to engage better with your users and how to convert them into recurring customers.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">8.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Analytics</h3>
						<p>One of the most important things to have a succesfull User Acquisition Strategy is to gather data and understand it. Here you will learn how to get the most out of Google Analytics.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">9.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Facebook Deep Dive</h3>
						<p>In this section you'll learn the importance of Facebook Marketing, how to setup campaigns and best practices for better performance.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 mb-7">
				<div class="media">
			        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
			          <span class="btn-icon__inner font-weight-semi-bold">10.</span>
			        </span>
					<div class="media-body">
						<h3 class="h6">Storytelling and Budget Planning</h3>
						<p>Here you will learn how to define your User Acquisition budget</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}