{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<input type="hidden" id="project" value="{{ project.id }}">
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Analytics</li>
                </ol>
            </div>
            <h4 class="page-title">Dashboard Analytics</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="mdi mdi-account-multiple widget-icon"></i>
                        </div>
                        <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Projects</h5>
                        <h3 class="mt-3 mb-3">{{projects.count}}</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> {{projects_month.count}}</span>
                            <br>
                            <span class="text-nowrap">Since last month</span>  
                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-6">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="mdi mdi-cart-plus widget-icon"></i>
                        </div>
                        <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">Users</h5>
                        <h3 class="mt-3 mb-3">{{users}}</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> {{users_month.count}}</span>
                            <br>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div> <!-- end row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="mdi mdi-currency-usd widget-icon"></i>
                        </div>
                        <h5 class="text-muted font-weight-normal mt-0" title="Average Revenue">Assumptions</h5>
                        <h3 class="mt-3 mb-3">{{assumptions}}</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> {{assumptions_month.count}}</span>
                            <br>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-6">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="mdi mdi-pulse widget-icon"></i>
                        </div>
                        <h5 class="text-muted font-weight-normal mt-0" title="Growth">User Activity</h5>
                        <h3 class="mt-3 mb-3">{{activity}}</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> {{activity_month.count}}</span>
                            <br>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div> <!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Users ({{users_list.count}})</h4>

                        <div class="inbox-widget slimscroll" style="max-height: 400px;">
                            {% for u in users_list %}
                            <div class="inbox-item">
                                {% if u.profile_set.all %}
                                    {% for profile in u.profile_set.all %}
                                    <div class="inbox-item-img">
                                        <div style="height:40px; width:40px; background-image: url('{{profile.profile_image.url}}'); background-size:cover; border-radius:40px"></div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="inbox-item-img">
                                        <div class="rounded-circle text-center bg-primary" style="height:40px; width40px">
                                            <i class="fa fa-user text-white mt-2"></i>
                                        </div>
                                    </div>
                                {% endif %}
                                <p class="inbox-item-author">
                                    {% if u.first_name %}
                                        {{u.first_name}} {{u.last_name}}
                                    {% else %}
                                        {{u.username}}
                                    {% endif %}
                                </p>
                                <p class="inbox-item-text">{{u.email}}</p>
                                <p class="inbox-item-date">
                                    <a href="mailto:{{u.email}}" class="btn btn-sm btn-link text-info font-13"> Contact </a>
                                </p>
                            </div>
                            {% endfor %}
                        </div> <!-- end inbox-widget -->
                    </div> <!-- end card-body-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Projects</h4>
                <div class="mb-1 mt-4 chartjs-chart" style="height: 201px; max-width: 180px;">
                    <!--<canvas id="average-sales" width="360" class="chartjs-render-monitor" height="402" style="display: block; height: 201px; width: 180px;"></canvas>-->
                    <canvas id="projectsChart" width="400" height="400"></canvas>
                </div>

                <div class="chart-widget-list">
                    <p>
                        <i class="mdi mdi-square text-primary"></i> Active
                        <span class="float-right">{{projects_active}}</span>
                    </p>
                    <p>
                        <i class="mdi mdi-square text-muted"></i> Draft
                        <span class="float-right">{{projects_draft}}</span>
                    </p>
                    <p>
                        <i class="mdi mdi-square text-danger"></i> Killed
                        <span class="float-right">{{projects_killed}}</span>
                    </p>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Assumptions</h4>
                <div class="mb-1 mt-4 chartjs-chart" style="height: 201px; max-width: 180px;">
                    <!--<canvas id="average-sales" width="360" class="chartjs-render-monitor" height="402" style="display: block; height: 201px; width: 180px;"></canvas>-->
                    <canvas id="assumptionsChart" width="400" height="400"></canvas>
                </div>

                <div class="chart-widget-list">
                    <p>
                        <i class="mdi mdi-square text-success"></i> Validated
                        <span class="float-right">{{assumptions_validated}}</span>
                    </p>
                    <p>
                        <i class="mdi mdi-square text-warning"></i> In Progress
                        <span class="float-right">{{assumptions_inprogress}}</span>
                    </p>
                    <p>
                        <i class="mdi mdi-square text-danger"></i> Invalidated
                        <span class="float-right">{{assumptions_invalidated}}</span>
                    </p>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
</div>
{% endblock %}
{% block js %}
<script>
var ctx = document.getElementById("assumptionsChart").getContext('2d');
var assumptionsChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Validated", "In Progress", "Invalidated"],
        datasets: [{
            data: [{{assumptions_validated}}, {{assumptions_inprogress}}, {{assumptions_invalidated}}],
            backgroundColor: ["#0acf97", "#ffbc00", "#fa5c7c"],
            borderColor: "transparent",
            borderWidth: "3"
        }]
    },
    options: {
        legend: {
            display: false,
        }
    }
});

var ctxp = document.getElementById("projectsChart").getContext('2d');
var projectsChart = new Chart(ctxp, {
    type: 'doughnut',
    data: {
        labels: ["Active", "Draft", "Killed"],
        datasets: [{
            data: [{{projects_active}}, {{projects_draft}}, {{projects_killed}}],
            backgroundColor: ["#727cf5", "#98a6ad", "#fa5c7c"],
            borderColor: "transparent",
            borderWidth: "3"
        }]
    },
    options: {
        legend: {
            display: false,
        }
    }
});

</script>
<script src="{% static 'assets/js/vendor/Chart.bundle.min.js' %}"></script>
{% endblock %}