{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<style>
  [v-cloak] { display:none; }
  .label-success {
    margin-right: 3px;
  }
</style>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <h4 class="page-title">Assumptions</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title">Assumption List</h4>
                <p class="text-muted font-14 mb-4">
                    For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.
                </p>

                <div class="table-responsive-sm">
                    <table class="table table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Assumption</th>
                                <th>Metric</th>
                                <th>Status</th>
                                <th>Project</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assumption in assumptions_list %}
                            <tr>
                                <td>{{assumption.assumption}}</td>
                                <td>
                                    {% if assumption.metric %}
                                        {{assumption.metric}}
                                    {% else %}
                                        NA
                                    {% endif %}
                                </td>
                                <td>{{assumption.status}}</td>
                                <td>{{assumption.project}}</td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->

            </div> <!-- end card body-->
        </div>
    </div>
</div>

{% endblock %}