{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<input type="hidden" id="project" value="{{ project.id }}">
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
            <h4 class="page-title">Dashboard Projects Details</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-2">Project Summary</h4>

                <div class="table-responsive">
                    <table class="table table-centered table-hover mb-0">
                        <tbody>
                            <tr>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Stage</th>
                                <th>DVF</th>
                                <th>Assumptions</th>
                                <th>Objectives</th>
                                <th>Elevator Pitch</th>
                                <th>Problem</th>
                                <th>Solution</th>
                                <th>Business Model</th>
                                <th>Priorities</th>
                                <th>Status</th>
                                <th>Links</th>
                                <th>Files</th>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal"><b>Total</b></h5>
                                </td>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{dvf.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{assumptions.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{objectives.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{elevators.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{problems.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{solutions.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{models.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{futures.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{summaries.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{links.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{files.count}}</b></h5>
                                </td>
                            </tr>
                            {% for project in projects_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'app:detail' project.slug %}" class="text-dark"><h5 class="font-14 mb-1 font-weight-normal">{{project.title}}</h5></a>
                                    <span class="text-muted font-13">{{project.created_at}}</span>
                                </td>
                                <td class="text-center">
                                    {% if project.status == "Active" %}
                                    <div class="badge badge-success mb-3">{{project.status}}</div>
                                    {% elif project.status == "Archived" %}
                                    <div class="badge badge-secondary mb-3">{{project.status}}</div>
                                    {% elif project.status == "Killed" %}
                                    <div class="badge badge-danger mb-3">{{project.status}}</div>
                                    {% else %}
                                    <div class="badge badge-secondary mb-3">{{project.status}}</div>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <div class="badge badge-primary mb-3">{{project.stage}}</div>
                                </td>
                                <td class="text-center">
                                    {% if project.dvf_set.count > 0 %}
                                    <i class="fa fa-check-square text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times text-muted"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.assumption_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.objective_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.elevator_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.problem_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.solution_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.businessmodel_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.future_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.summary_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.link_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.file_set.count}}</h5>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
</div>
<div class="row">
    <div class="col-xl-3">

        <div class="card">
            <div class="card-body">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    </div>
                </div>
                <h4 class="header-title mb-2">Recent Activity</h4>

                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 456px;"><div class="slimscroll" style="max-height: 171px; overflow: hidden; width: auto; height: 456px;">
                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-info font-weight-bold mb-1 d-block">You sold an item</a>
                                <small>Paul Burgess just purchased “Hyper - Admin Dashboard”!</small>
                                <p>
                                    <small class="text-muted">5 minutes ago</small>
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-primary font-weight-bold mb-1 d-block">Product on the Bootstrap Market</a>
                                <small>Dave Gamache added
                                    <span class="font-weight-bold">Admin Dashboard</span>
                                </small>
                                <p>
                                    <small class="text-muted">30 minutes ago</small>
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-info font-weight-bold mb-1 d-block">Robert Delaney</a>
                                <small>Send you message
                                    <span class="font-weight-bold">"Are you there?"</span>
                                </small>
                                <p>
                                    <small class="text-muted">2 hours ago</small>
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-primary font-weight-bold mb-1 d-block">Audrey Tobey</a>
                                <small>Uploaded a photo
                                    <span class="font-weight-bold">"Error.jpg"</span>
                                </small>
                                <p>
                                    <small class="text-muted">14 hours ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end timeline -->
                </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 65.8581px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div> <!-- end slimscroll -->
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->

</div>
<div class="row">
    {% for project in projects_list %}
    <div class="col-md-6 col-xl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <!-- project title-->
                <h4 class="mt-0">
                    <a href="{% url 'app:detail' project.slug %}" class="text-dark">{{project.title | capfirst}}</a>
                </h4>
                {% if project.status == "Active" %}
                <div class="badge badge-success mb-3">{{project.status}}</div>
                {% elif project.status == "Archived" %}
                <div class="badge badge-secondary mb-3">{{project.status}}</div>
                {% elif project.status == "Killed" %}
                <div class="badge badge-danger mb-3">{{project.status}}</div>
                {% else %}
                <div class="badge badge-secondary mb-3">{{project.status}}</div>
                {% endif %}
                <div class="badge badge-primary mb-3">{{project.stage}}</div>

                {% if project.description %}
                <p class="text-muted font-13 text-justify">{{project.description|truncatechars:120}} <a href="{% url 'app:detail' project.slug %}" class="font-weight-bold text-muted">view more</a>
                </p>
                {% else %}
                <p style="min-height:57px" class="text-muted font-13 mb-3 text-justify">No description available
                    <br><br><br>
                </p>
                {% endif %}
                <div>
                    {% for member in project.team_set.all %}
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{member.user.first_name}} {{member.user.last_name}}" class="d-inline-block">
                        {% for profile in member.user.profile_set.all %}
                        <img src="{{profile.profile_image.url}}" class="rounded-circle avatar-xs">
                        {% endfor %}
                    </a>
                    {% endfor %}

                </div>
            </div> <!-- end card-body-->
            <!--<ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>-->
        </div> <!-- end card-->
    </div> <!-- end col -->
    {% endfor %}
</div>
{% endblock %}
