{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<input type="hidden" id="project" value="{{ project.id }}">
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
            <h4 class="page-title">Dashboard Projects Details</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-2">Project Summary</h4>

                <div class="table-responsive">
                    <table class="table table-centered table-hover mb-0">
                        <tbody>
                            <tr>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Stage</th>
                                <th>DVF</th>
                                <th>Assumptions</th>
                                <th>Objectives</th>
                                <th>Elevator Pitch</th>
                                <th>Problem</th>
                                <th>Solution</th>
                                <th>Business Model</th>
                                <th>Priorities</th>
                                <th>Status</th>
                                <th>Links</th>
                                <th>Files</th>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal"><b>Total</b></h5>
                                </td>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{dvf.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{assumptions.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{objectives.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{elevators.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{problems.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{solutions.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{models.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{futures.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{summaries.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{links.count}}</b></h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center"><b>{{files.count}}</b></h5>
                                </td>
                            </tr>
                            {% for project in projects_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'app:detail' project.slug %}" class="text-dark"><h5 class="font-14 mb-1 font-weight-normal">{{project.title}}</h5></a>
                                    <span class="text-muted font-13">{{project.created_at}}</span>
                                </td>
                                <td class="text-center">
                                    {% if project.status == "Active" %}
                                    <div class="badge badge-success mb-3">{{project.status}}</div>
                                    {% elif project.status == "Archived" %}
                                    <div class="badge badge-secondary mb-3">{{project.status}}</div>
                                    {% elif project.status == "Killed" %}
                                    <div class="badge badge-danger mb-3">{{project.status}}</div>
                                    {% else %}
                                    <div class="badge badge-secondary mb-3">{{project.status}}</div>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <div class="badge badge-primary mb-3">{{project.stage}}</div>
                                </td>
                                <td class="text-center">
                                    {% if project.dvf_set.count > 0 %}
                                    <i class="fa fa-check-square text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times text-muted"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.assumption_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.objective_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.elevator_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.problem_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.solution_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.businessmodel_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.future_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.summary_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.link_set.count}}</h5>
                                </td>
                                <td>
                                    <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.file_set.count}}</h5>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
</div>
{% endblock %}
