{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="">BOX OS</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <h4 class="page-title">
            Dashboard
            </h4>
        </div>
    </div>

</div>
<!-- start page title -->


<div class="row">
    <div class="col-12">
        <div class="font-weight-light">
            <h4 class="font-weight-light">
            Lifecycle  <hr></hr>
          </h4>


        </div>
    </div>

</div>

<!-- start page title -->
<div class="row">
  <!-- <div class="col-12">
    <ul>
    {% for log in logs %}
      <li>{{log.action}}</li>
    {% endfor %}
    </ul>
  </div> -->
</div>

<div class="row">
    <div class="col-xl-7">
      <div class="card">
          <div class="card-body">
              <div class="dropdown float-right">
                  <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                  </a>

              </div>
              <h4 class="header-title mb-4">Active Businesses per Stage</h4>
                  <title>Doughnut Chart</title>
                  <script src="../static/dist/Chart.bundle.js"></script>
                  <script src="../static/dist/utils.js"></script>
                  <style>
                  canvas {
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                  }
                  </style>

                <body>
                  <div id="canvas-holder" style="width:80%">
                    <canvas id="chart-area"></canvas>
                  </div>

                  <script>

                    var randomScalingFactor = function() {
                      return Math.round(Math.random() * 100);
                    };

                    var config = {
                      type: 'doughnut',
                      data: {
                        datasets: [{
                          data: [
                            {{ seed_list|length }},
                          {{ seedlaunch_list|length }},
                            {{ launch_list|length }},
                            {{ concept_list|length }},
                            {{ scale_list|length }},
                          ],
                          backgroundColor: [
                            window.chartColors.blue,
                            window.chartColors.green,
                            window.chartColors.yellow,
                            window.chartColors.green,
                            window.chartColors.red,
                          ],
                          label: 'Dataset 1'
                        }],
                        labels: [
                          'Seed I-III - {{ seed_list|length }}',
                          'Seed Launch - {{ seedlaunch_list|length }}',
                          'Launch - {{ launch_list|length }}',
                          'Concept - {{ concept_list|length }}',
                          'Scale - {{ scale_list|length }}'
                        ]
                      },
                      options: {
                        responsive: true,
                        legend: {
                          position: 'right',
                        },

                        animation: {
                          animateScale: true,
                          animateRotate: true
                        }
                      }
                    };

                    window.onload = function() {
                      var ctx = document.getElementById('chart-area').getContext('2d');
                      window.myDoughnut = new Chart(ctx, config);
                    };

                  </script>

          </div> <!-- end card-body-->
      </div> <!-- end card-->         <!-- end card-->
      <div class="row">
          <div class="col-lg-6">
              <div class="card widget-flat">
                  <div class="card-body">
                      <div class="float-right">
                          <i class="mdi mdi-account-multiple widget-icon"></i>
                      </div>
                      <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Active Businesses</h5>
                      <h3 class="mt-3 mb-3">{{actives.count}}</h3>
                          <!-- <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 100%</span>
                          <span class="text-nowrap">Since last month</span> -->
                      <p class="mb-0 text-muted">
                          <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 90%</span>
                          <span class="text-nowrap">YTD</span>
                      </p>
                  </div> <!-- end card-body-->
              </div> <!-- end card-->
          </div> <!-- end col-->

          <div class="col-lg-6">
              <div class="card widget-flat">
                  <div class="card-body">
                      <div class="float-right">
                          <i class="mdi mdi-cart-plus widget-icon"></i>
                      </div>
                      <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">Kill-Rate</h5>
                      <h3 class="mt-3 mb-3">
                        <p id="kill"></p>

<script>
var x = {{actives | length}};
var y = {{killed | length}};
var z = Math.round( y * 100.0 / (x+y))
document.getElementById("kill").innerHTML = z+'%';
</script>

                      </h3>
                      <p class="mb-0 text-muted">
                          <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 0%</span>
                          <span class="text-nowrap">YTD</span>
                      </p>
                  </div> <!-- end card-body-->
              </div> <!-- end card-->
          </div> <!-- end col-->
      </div> <!-- end row -->

      <div class="card">
        <div class="card-body">

            <h4 class="header-title">Average Time per Stage</h4>




          <br></br>
            <div class="progress-w-percent">
              {% for dvf in dvfs|slice:"1" %}
              <h5 class="mb-1 mt-0 font-weight-normal">Seed I-III: {{dvf.getTimeSeed}} days </h5>

              <span class="text-muted font-13"> </span>
              <div class="progress-w-percent">
                  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{dvf.getTimeSeed}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dvf.getTimeSeed}} days</div>
    </div>
              </div>
              {% endfor %}

              <div class="progress-w-percent">
                {% for dvf in dvfs|slice:"1" %}
                <h5 class="mb-1 mt-0 font-weight-normal">Seed Launch: {{dvf.getTimeSeedLaunch}} days </h5>
                <div class="progress-w-percent">
                    <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{dvf.getTimeSeedLaunch}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dvf.getTimeSeedLaunch}} days</div>
              </div>
                </div>
                {% endfor %}

                <div class="progress-w-percent">
                  {% for dvf in dvfs|slice:"1" %}
                  <h5 class="mb-1 mt-0 font-weight-normal">Launch: {{dvf.getTimeLaunch}} days </h5>
                  <div class="progress-w-percent">
                      <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{dvf.getTimeLaunch}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dvf.getTimeSeedLaunch}} days</div>
                </div>
                  </div>
                  {% endfor %}







            </div>




        </div> <!-- end card-body-->

    </div> <!-- end card-->
  </div>

      </div> <!-- end card-->
    </div>
    <div class="col-xl-5">

      <div class="card">
          <div class="card-body">
              <h4 class="header-title mt-2">Businesses By Zone/Stage</h4>

              <div class="table-responsive">
                  <table class="table table-centered table-hover mb-0">
                      <tbody>
                          <tr>
                              <th>Zone</th>
                              <th>Seed</th>
                              <th>Seed Launch</th>
                              <th>Launch</th>
                          </tr>

                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-light"><b>APAC S</b></h5>
                              </td>
                              <td class="text-center">{{zones_apacs_seed | length}}</td>
                              <td class="text-center">{{zones_apacs_seedlaunch | length}}</td>
                              <td class="text-center">{{zones_apacs_launch | length}}</td>
                          </tr>
                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-light"><b>APAC N</b></h5>
                              </td>
                              <td class="text-center">{{zones_apacn_seed | length}}</td>
                              <td class="text-center">{{zones_apacn_seedlaunch | length}}</td>
                              <td class="text-center">{{zones_apacn_launch | length}}</td>
                          </tr>
                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-light"><b>EU</b></h5>
                              </td>
                              <td class="text-center">{{zones_eu_seed | length}}</td>
                              <td class="text-center">{{zones_eu_seedlaunch | length}}</td>
                              <td class="text-center">{{zones_eu_launch | length}}</td>
                          </tr>
                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-light"><b>NAZ</b></h5>
                              </td>
                              <td class="text-center">{{zones_naz_seed | length}}</td>
                              <td class="text-center">{{zones_naz_seedlaunch | length}}</td>
                              <td class="text-center">{{zones_naz_launch | length}}</td>
                          </tr>
                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-light"><b>MAZ</b></h5>
                              </td>
                              <td class="text-center">{{zones_maz_seed | length}}</td>
                              <td class="text-center">{{zones_maz_seedlaunch | length}}</td>
                              <td class="text-center">{{zones_maz_launch | length}}</td>
                          </tr>
                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-light"><b>LAN/LAS</b></h5>
                              </td>
                              <td class="text-center">{{zones_lan_seed | length}}</td>
                              <td class="text-center">{{zones_lan_seedlaunch | length}}</td>
                              <td class="text-center">{{zones_lan_launch | length}}</td>
                          </tr>

                          <tr>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal"><b>Total</b></h5>
                              </td>
                              <td class="text-center">{{seed_list | length}}</td>
                              <td class="text-center">{{seedlaunch_list | length}}</td>
                              <td class="text-center">{{launch_list | length}}</td>
                          </tr>

                          <!-- {% for project in projects_list %}
                          <tr>
                              <td>
                                  <a href="{% url 'app:detail' project.slug %}" class="text-dark"><h5 class="font-14 mb-1 font-weight-normal">{{project.title}}</h5></a>
                                  <span class="text-muted font-13">{{project.created_at}}</span>
                              </td>
                              <td class="text-center">
                                  {% if project.status == "Active" %}
                                  <div class="badge badge-success mb-3">{{project.status}}</div>
                                  {% elif project.status == "Archived" %}
                                  <div class="badge badge-secondary mb-3">{{project.status}}</div>
                                  {% elif project.status == "Killed" %}
                                  <div class="badge badge-danger mb-3">{{project.status}}</div>
                                  {% else %}
                                  <div class="badge badge-secondary mb-3">{{project.status}}</div>
                                  {% endif %}
                              </td>
                              <td class="text-center">
                                  <div class="badge badge-primary mb-3">{{project.stage}}</div>
                              </td>
                              <td class="text-center">
                                  {% if project.dvf_set.count > 0 %}
                                  <i class="fa fa-check-square text-success"></i>
                                  {% else %}
                                  <i class="fa fa-times text-muted"></i>
                                  {% endif %}
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.assumption_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.objective_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.elevator_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.problem_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.solution_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.businessmodel_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.future_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.summary_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.link_set.count}}</h5>
                              </td>
                              <td>
                                  <h5 class="font-14 mb-1 font-weight-normal text-center">{{project.file_set.count}}</h5>
                              </td>

                          </tr>
                          {% endfor %} -->

                      </tbody>
                  </table>
              </div> <!-- end table-responsive-->


              <div class="dropdown float-right">
                  <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                  </a>

              </div>
              <div id="chartbiz"> </div>

                  <script src="../static/dist/apexcharts.js"></script>
                  <script>
                      var options = {
                          chart: {
                              height: 220,
                              type: 'bar',
                          },
                          plotOptions: {
                              bar: {
                                  horizontal: false,
                                  dataLabels: {
                                      position: 'top',
                              },
                          }
                          },
                          dataLabels: {
                              enabled: false,
                              offsetX: -6,
                              style: {
                                  fontSize: '12px',
                                  colors: ['#fff']
                              }
                          },
                          stroke: {
                              show: true,
                              width: 1,
                              colors: ['#fff']
                          },
                          series: [{
                            name: 'Seed',
                                data:[{{zones_apacs_seed|length}},{{zones_apacn_seed|length}},{{zones_eu_seed|length}},{{zones_naz_seed|length}},{{zones_maz_seed|length}},{{zones_lan_seed|length}}]

                          },{
                            name: 'Seed Launch',
                            data:[{{zones_apacs_seedlaunch|length}},{{zones_apacn_seedlaunch|length}},{{zones_eu_seedlaunch|length}},{{zones_naz_seedlaunch|length}},{{zones_maz_seedlaunch|length}},{{zones_lan_seedlaunch|length}}]

                          },{
                            name: 'Launch',
                            data:[{{zones_apacs_launch|length}},{{zones_apacn_launch|length}},{{zones_eu_launch|length}},{{zones_naz_launch|length}},{{zones_maz_launch|length}},{{zones_lan_launch|length}}]

                          }],
                          xaxis: {
                              categories: ["APAC S", "APAC N", "EU", "NAZ", "MAZ", "LAN/LAS"],
                          },

                      }


                     var chartbiz = new ApexCharts(
                          document.querySelector("#chartbiz"),
                          options
                      );

                      chartbiz.render();
                  </script>

          </div> <!-- end card-body-->
      </div> <!-- end card-->
    </div>

  </div>

  <div class="row">
      <div class="col-12">
          <div class="font-weight-light">
              <h4 class="font-weight-light">
              Performance  <hr></hr>
            </h4>
          </div>
          <div class="row">
              <div class="col-xl-10">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-widgets">
                              <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                          </div>
                          <h4 class="header-title">
                              Projects DVF Heatmap
                          </h4>

                          <div class="table-responsive crd collapse show" id="cardCollpase4">
                              <table class="table table-hover table-top mb-0 mt-2">
                                  <tbody>
                                      <tr>
                                          <th>Project</th>
                                          <th>Stage</th>
                                          <th>Objectives</th>
                                          <th>D</th>
                                          <th>V</th>
                                          <th>F</th>
                                      </tr>
                                      {% for project in projects %}
                                          {% with project.get_stage_group as stage %}
                                              {% for dvf in dvfs %}
                                                  {% if dvf.project == project and dvf.stage == stage %}
                                                  <tr>
                                                  <td class="text-left">
                                                      <a href="{% url 'app:detail' project.slug %}" class="text-dark"><h5 class="font-14 mb-1 font-weight-normal">{{project.title}}</h5></a>
                                                      <span class="text-muted font-13">Time In Stage: {{dvf.time_in_stage}} days</span>
                                                  </td>
                                                  <td class="text-left">
                                                      <div class="badge badge-primary mb-3">{{project.stage}}</div>
                                                  </td>
                                                  <td class="text-center">
                                                      {% for objective in completed_obj %}
                                                          {% if objective.project == project.id %}
                                                              {{objective.project__count}}
                                                          {% endif %}
                                                      {% endfor %}
                                                      / {{project.objective_set.count}}
                                                  </td>
                                                  <td>
                                                      {% if dvf.desirability == "On Track" %}
                                                      <div class="alert alert-success" role="alert">
                                                      </div>
                                                      {% elif dvf.desirability == "Delayed" %}
                                                      <div class="alert alert-warning" role="alert">
                                                      </div>
                                                      {% elif dvf.desirability == "At Risk" %}
                                                      <div class="alert alert-danger" role="alert">
                                                      </div>
                                                      {% else %}
                                                      NA
                                                      {% endif %}
                                                  </td>
                                                  <td>
                                                    {% if dvf.viability == "On Track" %}
                                                    <div class="alert alert-success" role="alert">
                                                    </div>
                                                    {% elif dvf.viability == "Delayed" %}
                                                    <div class="alert alert-warning" role="alert">
                                                    </div>
                                                    {% elif dvf.viability == "At Risk" %}
                                                    <div class="alert alert-danger" role="alert">
                                                    </div>
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                  </td>
                                                  <td>
                                                    {% if dvf.feasibility == "On Track" %}
                                                    <div class="alert alert-success" role="alert">
                                                    </div>
                                                    {% elif dvf.feasibility == "Delayed" %}
                                                    <div class="alert alert-warning" role="alert">
                                                    </div>
                                                    {% elif dvf.feasibility == "At Risk" %}
                                                    <div class="alert alert-danger" role="alert">
                                                    </div>
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                  </td>
                                                  {% endif %}
                                              </tr>
                                              {% endfor %}
                                          {% endwith %}
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="row">
      <div class="col-12">
          <div class="font-weight-light">
              <h4 class="font-weight-light">
              Engagement  <hr></hr>
            </h4>


          </div>
      </div>

  </div>

  <div class="row">
    <div class="col-3">
      <div class="card">
          <div class="card-body">
                <div class="card-body">
                    <div class="float-right">
                        <i class="mdi mdi-account-multiple widget-icon"></i>
                    </div>
                    <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Active <br>Users</h5>
                    <h3> {% for user in users|slice:"1" %}
                      {{user.get_active_user_count}}
                    {% endfor %}</h3>

                        <p class="mb-0 text-muted">
                        <!-- <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 100%</span>
                        <span class="text-nowrap">Since last month</span> -->
                    </p>
                </div> <!-- end card-body-->
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
            <div class="card-body">
                  <div class="card-body">
                    <div class="float-right">
                        <i class="mdi mdi-checkbox-multiple-marked-circle widget-icon"></i>
                    </div>
                      <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers"> Report Compliance</h5>

                      <h3 class="mt-3 mb-3">
                        <p id="comply"></p>

<script>
var a = {{file_proj | length}};
var b = {{link_proj | length}};
var c = {{businessmodel_proj | length}};
var d = {{solution_proj | length}};
var e = {{elevator_proj | length}};
var f = {{problem_proj | length}};
var g = {{dvf_proj | length}};

var h = {{actives | length}};

var z = Math.round( (a+b+c+d+e+f+g) * 100.0 / (h*9.0))
document.getElementById("comply").innerHTML = z+'%';
</script>

                      </h3>

                      <p class="mb-0 text-muted">

                          <!-- <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 5.27%</span>
                          <span class="text-nowrap">Since last month</span> -->
                      </p>
                  </div> <!-- end card-body-->
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
              <div class="card-body">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="mdi mdi-comment widget-icon"></i>
                        </div>
                        <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Total Comments</h5>
                        <h3 class="mt-3 mb-3">{{comments_list | length}}</h3>
                        <p class="mb-0 text-muted">
                            <!-- <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 6.5%</span>
                            <span class="text-nowrap">Since last month</span> -->
                        </p>
                    </div> <!-- end card-body-->
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
                <div class="card-body">
                      <div class="card-body">
                          <div class="float-right">
                              <i class="mdi mdi-collage widget-icon"></i>
                          </div>
                          <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Average Assumptions</h5>
                          <h3 class="mt-3 mb-3">
                            <p id="assumption"></p>

                          <script>
                          var x = {{assumptions_list | length}};
                          var y = {{actives | length}};
                          var z = Math.round(x*100.0/y)/100
                          document.getElementById("assumption").innerHTML = z;
                          </script>

                          </h3>

                          <p class="mb-0 text-muted">
                              <!-- <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 5.27%</span>
                              <span class="text-nowrap">Since last month</span> -->
                          </p>
                      </div> <!-- end card-body-->
                </div>
              </div>
            </div>
    </div>



<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body" >
          <!--<a href="" class="btn btn-sm btn-link float-right mb-3">Export
              <i class="mdi mdi-download ml-1"></i>
          </a>-->


          <h4 class="header-title mt-2">Most Active Businesses</h4>
          <div class="slimscroll" style="max-height: 300px;">



          <div class="table-responsive">
          <table id="myTable2" class="table table-centered mb-0">
            <tbody>
                <tr>
                    <th>Business</th>
                    <th>Total Assumptions</th>
                    <th>Total Comments</th>
                    <th>
                        Other Activity<i class="mdi mdi-information-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="# of edits, links, files uploaded this week"></i>
                    </th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td class="text-left">
                            <a href="{% url 'app:detail' project.slug %}" class="text-dark"><h5 class="font-14 mb-1 font-weight-normal">{{project.title}}</h5></a>
                        </td>
                        <td class="text-center">
{{project.assumption_set.count}}
                        </td>
                        <td class="text-center">
                          {{project.comment_set.count}}
                        </td>
                        <td class="text-center">
{{project.link_set.count|add:project.file_set.count}}
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>



          <script>
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("myTable2");
            switching = true;
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
              //start by saying: no switching is done:
              switching = false;
              rows = table.rows;
              /*Loop through all table rows (except the
              first, which contains table headers):*/
              for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[1];
                a = rows[i].getElementsByTagName("TD")[2];
                b = rows[i].getElementsByTagName("TD")[3];

                y = rows[i + 1].getElementsByTagName("TD")[1];
                c = rows[i + 1].getElementsByTagName("TD")[2];
                d = rows[i + 1].getElementsByTagName("TD")[3];

                //check if the two rows should switch place:
                if ((Number(x.innerHTML) + Number(a.innerHTML) + Number(b.innerHTML)) < (Number(y.innerHTML)+Number(c.innerHTML)+Number(d.innerHTML))) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
              if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
              }
            }

          </script>

          <!-- <div class="table-responsive">
              <table class="table table-centered mb-0">
                  <tbody>
                      <tr>
                        <th>User</th>
                        <th>Team</th>
                        <th>
                            Points
                            <a href="" class="text-muted" data-toggle="modal" data-target="#assumptions">
                                <i class="mdi mdi-information-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Assumptions + Comments + Edits"></i>
                            </a>
                        </th>
                        <p class="text-muted font-14 mb-2">

                            </a>
                            <br>
                            <a href="" data-toggle="modal" data-target="#metricsdb"></a>
                        </p>

                      </tr>
                      {% for project in project_list %}
                           {% for member in project.team_set.all|slice:":1" %}
                           {% if member.permission == "edit" %}
                           <tr>

                                {% for profile in member.user.profile_set.all %}
                                <td>
<img src="{{profile.profile_image.url}}" class="rounded-circle avatar-xs" alt="friend">
{{member.user|capfirst}}                       </td>

                                <td>{{project.title|capfirst}}</td>
                                <td>{{member.user.assumption_set.count | add:member.user.comment_set.count}}</td>

                                {% endfor %}
                              </tr>
                              {% endif %}

                           {% endfor %}
                      {% endfor %}
                  </tbody>
              </table>
          </div> -->
      </div> <!-- end card-body-->

    </div> <!-- end card-->
  </div>
  <div class="col-6">
    <div class="card">
        <div class="card-body" >
            <!--<a href="" class="btn btn-sm btn-link float-right mb-3">Export
                <i class="mdi mdi-download ml-1"></i>
            </a>-->


            <h4 class="header-title mt-2">Top Contributors</h4>
            <div class="slimscroll" style="max-height: 290px;">



            <div class="table-responsive">
            <table id="myTable" class="table table-centered mb-0">
              <tr>
                <th id="btn" onclick="sortTable()">User</th>
                <th>Team</th>
                <th>
                    Points
                </th>
                <th>
                  <i class="mdi mdi-information-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Assumptions + Comments + Edits"></i>
                </th>
              </tr>



{% for project in project_list %}
{% for member in project.team_set.all %}
  {% if member.permission == "edit" %}

  <tr>
    <td>
<!-- <img src="{{member.user.profile.profile_image.url}}" class="rounded-circle avatar-xs" alt="friend">  -->
{{member.user|capfirst}}                       </td>
<td>{{project}}</td>
<td>{{member.user.assumption_set.count|add:member.user.comment_set.count}}</td>
  </tr>
  {% endif %}
{% endfor %}
{% endfor %}

            </table>
          </div>
        </div>



            <script>

              var table, rows, switching, i, x, y, shouldSwitch;
              table = document.getElementById("myTable");
              switching = true;
              /*Make a loop that will continue until
              no switching has been done:*/
              while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                  //start by saying there should be no switching:
                  shouldSwitch = false;
                  /*Get the two elements you want to compare,
                  one from current row and one from the next:*/
                  x = rows[i].getElementsByTagName("TD")[2];
                  y = rows[i + 1].getElementsByTagName("TD")[2];
                  //check if the two rows should switch place:
                  if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
                if (shouldSwitch) {
                  /*If a switch has been marked, make the switch
                  and mark that a switch has been done:*/
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                }
              }

            </script>

            <!-- <div class="table-responsive">
                <table class="table table-centered mb-0">
                    <tbody>
                        <tr>
                          <th>User</th>
                          <th>Team</th>
                          <th>
                              Points
                              <a href="" class="text-muted" data-toggle="modal" data-target="#assumptions">
                                  <i class="mdi mdi-information-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Assumptions + Comments + Edits"></i>
                              </a>
                          </th>
                          <p class="text-muted font-14 mb-2">

                              </a>
                              <br>
                              <a href="" data-toggle="modal" data-target="#metricsdb"></a>
                          </p>

                        </tr>
                        {% for project in project_list %}
                             {% for member in project.team_set.all|slice:":1" %}
                             {% if member.permission == "edit" %}
                             <tr>

                                  {% for profile in member.user.profile_set.all %}
                                  <td>
  <img src="{{profile.profile_image.url}}" class="rounded-circle avatar-xs" alt="friend">
{{member.user|capfirst}}                       </td>

                                  <td>{{project.title|capfirst}}</td>
                                  <td>{{member.user.assumption_set.count | add:member.user.comment_set.count}}</td>

                                  {% endfor %}
                                </tr>
                                {% endif %}

                             {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div> -->
        </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div>
</div>
</div>
<div class="row">

</div>



<div class="row">
    <div class="col-xl-12">

    </div>
  </div>


  <div class="row">
      <div class="col-xl-8">

    </div> <!-- end col-->

    <div class="col-xl-4">

    </div> <!-- end col-->
</div>
<!-- end row -->


<div class="row">
    <div class="col-xl-6">










    </div> <!-- end col-->



    <div class="col-xl-3">



        <!-- end card-->
    </div>
    <!-- end col -->

</div>
<div class="row">
    <div class="col-12">
        <div class="font-weight-light">
            <h4 class="font-weight-light">
            Recent Activity  <hr></hr>
          </h4>


        </div>
    </div>

</div>
<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title mb-2">Recent Activity</h4>
            <div class="slimscroll" style="max-height: 290px;">
                <div class="timeline-alt pb-0">
                    {% for log in logs %}
                      <div class="timeline-item">


                          {% if log.action == 'CREATE_PROJECT' or log.action == 'ADD_TEAM' or log.action == 'ADD_ELEVATOR' or log.action == 'ADD_PROBLEM' or log.action == 'ADD_SOLUTION' or log.action == 'ADD_BUSINESS_MODEL' or log.action == 'ADD_SUMMARY' or log.action == 'ADD_PRIORITY' or log.action == 'ADD_OBJECTIVE' or log.action == 'ADD_ASSUMPTION' or log.action == 'ADD_LINK' or log.action == 'ADD_FILE' or log.action == 'ADD_COMMENT'  %}

                          <i class="fa fa-plus-circle bg-info-lighten text-info timeline-icon" style="font-size:8px"></i>
                          <div class="timeline-item-info">
                              <p class="text-info font-weight-bold mb-1 d-block">{{log.extra.event|capfirst}}</p>
                              <small>
                                  {{log.user.first_name}} {{log.user.last_name}} {{log.extra.event}}
                                  {% if log.extra.text %}
                                  <span class="font-weight-bold">"{{log.extra.text|truncatechars:40}}"</span>
                                  {% elif  log.extra.title %}
                                  <span class="font-weight-bold">"{{log.extra.title|truncatechars:40}}"</span>
                                  {% elif  log.extra.project_slug or log.extra.permission %}
                                  <span class="font-weight-bold">"{{log.extra.project|truncatechars:40}}"</span>
                                  {% endif %}
                              </small>
                              <p>
                                  <small class="text-muted">{{log.timestamp|naturalday|capfirst}}</small>
                              </p>
                          </div>
                          {% elif log.action == 'EDIT_PROJECT' or log.action == 'EDIT_TEAM' or log.action == 'EDIT_ELEVATOR' or log.action == 'EDIT_PROBLEM' or log.action == 'EDIT_SOLUTION' or log.action == 'EDIT_BUSINESS_MODEL' or log.action == 'EDIT_SUMMARY' or log.action == 'EDIT_PRIORITY' or log.action == 'EDIT_OBJECTIVE' or log.action == 'EDIT_ASSUMPTION' or log.action == 'EDIT_LINK' or log.action == 'EDIT_FILE' or log.action == 'EDIT_COMMENT' %}

                          <i class="fa fa-pencil-alt bg-primary-lighten text-primary timeline-icon"></i>
                          <div class="timeline-item-info">
                              <p class="text-primary font-weight-bold mb-1 d-block">{{log.extra.event|capfirst}}</p>
                              <small>{{log.user.first_name}} {{log.user.last_name}} {{log.extra.event}}</small>
                              <p>
                                  <small class="text-muted">{{log.timestamp|naturalday|capfirst}}</small>
                              </p>
                          </div>
                          {% elif log.action == 'DELETE_PROJECT' or log.action == 'DELETE_TEAM' or log.action == 'DELETE_ELEVATOR' or log.action == 'DELETE_PROBLEM' or log.action == 'DELETE_SOLUTION' or log.action == 'DELETE_BUSINESS_MODEL' or log.action == 'DELETE_SUMMARY' or log.action == 'DELETE_PRIORITY' or log.action == 'DELETE_OBJECTIVE' or log.action == 'DELETE_ASSUMPTION' or log.action == 'DELETE_LINK' or log.action == 'DELETE_FILE' or log.action == 'DELETE_COMMENT' %}

                          <i class="fa fa-trash bg-danger-lighten text-danger timeline-icon"></i>
                          <div class="timeline-item-info">
                              <p class="text-danger font-weight-bold mb-1 d-block">{{log.extra.event|capfirst}}</p>
                              <small>{{log.user.first_name}} {{log.user.last_name}} {{log.extra.event}}</small>
                              <p>
                                  <small class="text-muted">{{log.timestamp|naturalday|capfirst}}</small>
                              </p>
                          </div>
                          {% else %}

                          <i class="mdi mdi-upload bg-secondary-lighten text-muted timeline-icon"></i>
                          <div class="timeline-item-info">
                              <p class="text-muted font-weight-bold mb-1 d-block">{{log.extra.event|capfirst}}</p>
                              <small>{{log.user.first_name}} {{log.user.last_name}} {{log.extra.event}}</small>
                              <p>
                                  <small class="text-muted">{{log.timestamp|naturalday|capfirst}}</small>
                              </p>
                          </div>
                          {% endif %}
                      </div>
                    {% endfor %}
                </div>
                <!-- end timeline -->
            </div> <!-- end slimscroll -->
        </div>
        <!-- end card-body -->
    </div>
    <!-- end card-->
  </div>
</div>
<!-- end row -->
{% endblock %}
