{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">OS Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Projects</a></li>
                    <li class="breadcrumb-item active">{{project.title}}</li>
                </ol>
            </div>
            <h4 class="page-title">Project Details</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-8">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="dropdown card-widgets">
                    {% if permission %}
                    <a href="javascript:void(0);" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                        <i class="dripicons-dots-3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-142px, 20px, 0px);">
                        <!-- item-->
                        <button class="dropdown-item" data-toggle="modal" data-target="#edit-project"><i class="mdi mdi-pencil mr-1"></i>Edit</button>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a>
                    </div>
                    {% endif %}
                </div>
                <!-- project title-->
                <h3 class="mt-0">
                    {{project.title}}
                </h3>
                {% if project.status == "Active" %}
                <div class="badge badge-success mb-3">{{project.status}}</div>
                {% elif project.status == "Archived" %}
                <div class="badge badge-muted mb-3">{{project.status}}</div>
                {% elif project.status == "killed" %}
                <div class="badge badge-danger mb-3">{{project.status}}</div>
                {% else %}
                <div class="badge badge-warning mb-3">{{project.status}}</div>
                {% endif %}
                <div class="badge badge-primary mb-3">{{project.stage}}</div>

                <h5>Project Description:</h5>
                {% if project.description %}
                <p class="text-muted mb-2">
                    {{project.description|linebreaks}}
                </p>
                {% else %}
                <p class="text-muted mb-2">
                    You haven't added a description for your project yet.
                </p>
                {% endif %}

                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h5>Created Date</h5>
                            <p>{{project.created_at|date}} <small class="text-muted">1:00 PM</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h5>Updated Date</h5>
                            <p>{{project.updated_at|date}} <small class="text-muted">1:00 PM</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--<div class="mb-4">
                            <h5>Budget</h5>
                            <p>$15,800</p>
                        </div>-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h5>Team Members:</h5>
                        {% for member in team %}
                        {{member.user.logentry}}
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{member.user.first_name}} {{member.user.last_name}}" class="d-inline-block">
                            {% for profile in member.user.profile_set.all %}
                            <img src="{{profile.profile_image.url}}" class="rounded-circle img-thumbnail avatar-sm" alt="friend">
                            {% endfor %}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="col-auto">
                        {% if viewers %}
                        <h5>Viewers:</h5>
                        {% for member in viewers %}
                        {{member.user.logentry}}
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{member.user.first_name}} {{member.user.last_name}}" class="d-inline-block">
                            {% for profile in member.user.profile_set.all %}
                            <img src="{{profile.profile_image.url}}" class="rounded-circle img-thumbnail avatar-sm" alt="friend">
                            {% endfor %}
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div> <!-- end card-body-->

        </div> <!-- end card-->

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                            <h4 class="header-title">
                                <a href="{% url 'app:seed' project.slug %}">Seed I to III</a>
                                <a href="" class="text-muted" data-toggle="modal" data-target="#seed">
                                    <i class="mdi mdi-information-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Learn More"></i>
                                </a>    
                            </h4>
                        <div class="timeline-alt pb-0">
                            <div class="timeline-item">
                                {% if dvf_seed.0.desirability == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.desirability}}"></i>
                                {% elif dvf_seed.0.desirability == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.desirability}}"></i>
                                {% elif dvf_seed.0.desirability == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.desirability}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Desirabilty</a>
                                    <p></p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                {% if dvf_seed.0.viability == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.viability}}"></i>
                                {% elif dvf_seed.0.viability == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.viability}}"></i>
                                {% elif dvf_seed.0.viability == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.viability}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Viability</a>
                                    <p></p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                {% if dvf_seed.0.feasibility == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.feasibility}}"></i>
                                {% elif dvf_seed.0.feasibility == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.feasibility}}"></i>
                                {% elif dvf_seed.0.feasibility == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seed.0.feasibility}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Feasibility</a>
                                    <p>
                                        {% if dvf_seed.0.updated_at %}
                                        <small class="text-muted">{{dvf_seed.0.updated_at|date}}</small>
                                        {% else %}
                                        <small class="text-muted">NA</small>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'app:seed-launch' project.slug %}"><h4 class="header-title">Seed Launch</h4></a>
                        <div class="timeline-alt pb-0">
                            <div class="timeline-item">
                                {% if dvf_seedlaunch.0.desirability == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.desirability}}"></i>
                                {% elif dvf_seedlaunch.0.desirability == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.desirability}}"></i>
                                {% elif dvf_seedlaunch.0.desirability == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.desirability}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Desirabilty</a>
                                    <p></p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                {% if dvf_seedlaunch.0.viability == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.viability}}"></i>
                                {% elif dvf_seedlaunch.0.viability == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.viability}}"></i>
                                {% elif dvf_seedlaunch.0.viability == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.viability}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Viability</a>
                                    <p></p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                {% if dvf_seedlaunch.0.feasibility == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.feasibility}}"></i>
                                {% elif dvf_seedlaunch.0.feasibility == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.feasibility}}"></i>
                                {% elif dvf_seedlaunch.0.feasibility == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_seedlaunch.0.feasibility}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Feasibility</a>
                                    <p>
                                        {% if dvf_seedlaunch.0.updated_at %}
                                        <small class="text-muted">{{dvf_seedlaunch.0.updated_at|date}}</small>
                                        {% else %}
                                        <small class="text-muted">NA</small>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'app:launch' project.slug %}"><h4 class="header-title">Launch</h4></a>
                        <div class="timeline-alt pb-0">
                            <div class="timeline-item">
                                {% if dvf_launch.0.desirability == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.desirability}}"></i>
                                {% elif dvf_launch.0.desirability == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.desirability}}"></i>
                                {% elif dvf_launch.0.desirability == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.desirability}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Desirabilty</a>
                                    <p></p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                {% if dvf_launch.0.viability == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.viability}}"></i>
                                {% elif dvf_launch.0.viability == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.viability}}"></i>
                                {% elif dvf_launch.0.viability == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.viability}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Viability</a>
                                    <p></p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                {% if dvf_launch.0.feasibility == "On Track" %}
                                <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.feasibility}}"></i>
                                {% elif dvf_launch.0.feasibility == "Delayed" %}
                                <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.feasibility}}"></i>
                                {% elif dvf_launch.0.feasibility == "At Risk" %}
                                <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.feasibility}}"></i>
                                {% else %}
                                <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                                {% endif %}
                                <div class="timeline-item-info">
                                    <a href="#" class="mb-1 d-block" style="color:#6c757d">Feasibility</a>
                                    <p>
                                        {% if dvf_launch.0.updated_at %}
                                        <small class="text-muted">{{dvf_launch.0.updated_at|date}}</small>
                                        {% else %}
                                        <small class="text-muted">NA</small>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 mb-3">Comments ({{project.comment_set.count }})</h4>
                    <form id="comment-form" method="POST">
                        <input type="hidden" name="project" value="{{ project.id }}" />
                        {% csrf_token %}
                        <textarea
                            class="form-control form-control-light mb-2"
                            id="example-textarea"
                            rows="3"
                            name="text"
                            placeholder="Write message..."
                            ></textarea>
                        <div class="text-right">
                            <!--<div class="btn-group mb-2">
                                <button type="button" class="btn btn-link btn-sm text-muted font-18"><i class="dripicons-paperclip"></i></button>
                            </div>-->
                            <div class="btn-group mb-2 ml-2">
                                <button type="button" class="btn btn-primary btn-sm submit">Submit</button>
                            </div>
                        </div>
                    </form>
                    {% for comment in comments %}

                    <div class="media mt-2">
                        {% for profile in comment.user.profile_set.all %}
                        <img class="mr-3 avatar-sm rounded-circle" src="{{profile.profile_image.url}}" alt="Generic placeholder image">
                        {% endfor %}
                        <div class="media-body">
                            <h5 class="mt-0">{{comment.user.first_name}} {{comment.user.last_name}}</h5>
                            {{comment.text}}
                        </div>
                    </div>

                    {% endfor %}
            </div> <!-- end card-body-->
        </div>
        <!-- end card-->
    </div> <!-- end col -->

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Progress</h5>
                <div class="mt-3 chartjs-chart" style="height: 320px;">
                    <canvas id="line-chart-example"></canvas>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="dropdown card-widgets">
                    {% if permission %}
                    <a href="javascript:void(0);" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                        <i class="dripicons-dots-3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-142px, 20px, 0px);">
                        <a href="javascript:void(0);" data-toggle="modal"
                          data-target="#file-modal" class="dropdown-item add-file">
                          <i class="mdi mdi-plus-circle mr-1"></i>
                          Add
                        </a>
                    </div>
                    {% endif %}
                </div>
                <h5 class="card-title mb-3">Files</h5>
                {% if not files %}
                <p><i class="text-muted fa fa-exclamation-triangle"></i> No files available</p>
                {% endif %}
                {% for file in files %}
                <div class="card mb-1 shadow-none border border-light">
                    <div class="p-2">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="mdi mdi-file" style="font-size:20px"></i>
                            </div>
                            <div class="col pl-0">
                                <a href="{{file.file.url}}" target="_blank" class="text-muted font-weight-bold">{{file.title|truncatechars:25}}</a>
                                <p class="mb-0"></p>
                            </div>
                            <div class="col-auto">

                                <a href="/media/{{file.file}}" target="_blank" class="btn btn-link btn-lg text-info">
                                    <i class="dripicons-download"></i>
                                </a>
                                <span aria-hidden="true">×</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="dropdown card-widgets">
                    {% if permission %}
                    <a href="javascript:void(0);" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                        <i class="dripicons-dots-3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-142px, 20px, 0px);">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-plus-circle mr-1"></i>Add</a>
                    </div>
                    {% endif %}
                </div>
                <h5 class="card-title mb-3">External Links</h5>
                {% if not links %}
                <p><i class="text-muted fa fa-exclamation-triangle"></i> No links available</p>
                {% endif %}
                {% for link in links %}
                <div class="card mb-1 shadow-none border-light">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fa fa-link" style="font-size:15px"></i>
                        </div>
                        <div class="col pl-0">
                            <a href="javascript:void(0);" class="text-dark font-weight-bold">{{link.title|truncatechars:25}}</a>
                        </div>
                        <div class="col-auto">

                            <a href="{{link.link}}" target="_blank" class="btn btn-link btn-md text-info">
                                <i class="fa fa-external-link-alt"></i>
                            </a>
                            <span aria-hidden="true">×</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <!--<div class="card">
            <div class="card-body">
                <h4 class="header-title mb-2">Recent Activity</h4>

                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 460px;"><div class="slimscroll" style="max-height: 171px; overflow: hidden; width: auto; height: 460px;">
                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-info font-weight-bold mb-1 d-block">Updated Problem</a>
                                <small>Pablo Rivera just updated the project's problem</small>
                                <p>
                                    <small class="text-muted">5 minutes ago</small>
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-file bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-primary font-weight-bold mb-1 d-block">New Assumption</a>
                                <small>David Bassani added new
                                    <span class="font-weight-bold">Assumption Dashboard</span>
                                </small>
                                <p>
                                    <small class="text-muted">30 minutes ago</small>
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-info font-weight-bold mb-1 d-block">Robert Delaney</a>
                                <small>Send you message
                                    <span class="font-weight-bold">"Are you there?"</span>
                                </small>
                                <p>
                                    <small class="text-muted">2 hours ago</small>
                                </p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <a href="#" class="text-primary font-weight-bold mb-1 d-block">Audrey Tobey</a>
                                <small>Uploaded a photo
                                    <span class="font-weight-bold">"Error.jpg"</span>
                                </small>
                                <p>
                                    <small class="text-muted">14 hours ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 81.225px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            </div>
        </div>-->
    </div>
</div>
<!-- end row -->
<!--  Modal content for the above example -->
<div class="modal fade" id="edit-project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Edit Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group mb-3">
                        <label for="simpleinput">Name</label>
                        <input type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-textarea">Description</label>
                        <textarea class="form-control" id="example-textarea" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Stage</label>
                        <select class="form-control" id="example-select">
                            <option>Seed I</option>
                            <option>Seed II</option>
                            <option>Seed III</option>
                            <option>Launch I</option>
                            <option>Launch II</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Status</label>
                        <select class="form-control" id="example-select">
                            <option>Active</option>
                            <option>Archived</option>
                            <option>Draft</option>
                            <option>Killed</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div
  class="modal fade"
  id="file-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="filemodal"
  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="modal-content" action="/api/file" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h4 class="modal-title">Add a file</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <input type="hidden" name="project" value="{{ project.id }}" />

                {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
                {% endif %}
                {% for field in fileform.visible_fields %}
                  {% if field.name == 'project'  %}
                  {% else %}
                  <div class="form-group mb-3">
                    <label>{{ field.label_tag }}</label>
                    {% render_field field class+="form-control" rows="2" %}
                    {% if field.errors %}
                       <div class="alert alert-danger">
                          {{ field.errors.as_text }}
                      </div>
                    {% endif %}
                  </div>
                  {% endif %}

                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--  Modal content for the above example -->
<div class="modal fade" id="seed" tabindex="-1" role="dialog" aria-labelledby="assumptions" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Seed I-III</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-justify" id="modal-body">
                <p>
                    Using the OS is the foundation of our approach. Think of it like a ‘stage gate’ type model for building a disruptive new venture. Unlike Stage-Gate, ventures do not pass sequentially through the OS (with graduations being approved at meetings and so forth). 
                    <br>
                    <br>
                    Ventures can move forward and backwards fluidly as our learning improves and our focus needs to change. We can also use a latter stage of the OS (for example, a ‘Solution’ or ‘Business Model’ idea as a means of helping identify and validate a ‘Problem’ – which is an earlier stage). 
                </p>
                <ul>
                    <li>
                        <b>SEED I</b>: “PROBLEM” - A venture is seeking to prove the existence, size and acuteness of a consumer problem, and clearly identify the consumer who has it.
                    </li>    
                    <li>
                        <b>SEED II</b>: “SOLUTION” - A venture is has validated a user problem, and is now seeking to validate the best solution to solve the problem.        
                    </li>
                    <li>
                        <b>SEED III</b>: A venture has validated a problem and solution, and is seeking to validate its business model through which the solution will be commercialized for the consumer.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block js %}
<script>
  $(function(){
    $('.submit', '#comment-form').click(function(){
      if($('textarea[name="text"]','#comment-form').val().trim() == '') {
        return;
      }

      var form = $('#comment-form').serialize();
      $.post('/api/comment', form, function(){
        window.location.reload();
      }).fail(function(xhr, status, error){

      });
    });

    $('.add-file').click(function(){
      $('#file').click();
    });

    $('#file').change(function(){
      $('#file-form').submit();
    });
  });
</script>
{% endblock %}
