{% load widget_tweaks %}
<form action="/api/model/form" method="post" id="dynamic-form">
    {% csrf_token %}
    <input type="hidden" id="form-name" value="{{ name }}" />
    <input type="hidden" id="project" value="{{ project_id }}" />
    <input type="hidden" id="doc-id" value="{{ id }}" />

    {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {% endif %}
    {% for field in form.visible_fields %}

      {% if field.name == 'stage' and not showstage %}
        <div style="display:none;">
            {{ field }}
        </div>
      {% else %}
        {% if field.name == 'status' and hidestatus %}
          <div style="display:none;">
              {{ field }}
          </div>
        {% else %}
            <div class="form-group mb-3">
              <label>{{ field.label_tag }}</label>
              {% if field.errors %}
                 <div class="alert alert-danger">
                    {{ field.errors.as_text }}
                </div>
              {% endif %}
              {% render_field field class+="form-control" rows="2" %}
            </div>
        {% endif %}
      {% endif %}

    {% endfor %}
</form>
