{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="">BOX OS</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
            <h4 class="page-title">
            Projects
            </h4>
        </div>
    </div>

</div>
<!-- end page title -->

<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="alert-heading">Welcome to BOX OS!</h4>
    <p>We are very happy to see you here. You're almost ready to start learning the OS and tracking your amazing project. Before you start please go through the welcome video so you can get the most out of using this tool.</p>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#video">Welcome Video</button>
</div>
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <p class="alert-heading"><i class="fa fa-exclamation-triangle"></i> Important</p>
    <p>The BOX OS project is still on its Beta Version. If you have problems using this tool, please let us know at <a href="mailto:pablo.rivera@zx-ventures.com">pablo.rivera@zx-ventures.com</a></p>
</div>



<div class="row mb-2">
    <div class="col-sm-4">
        <button type="button" class="btn btn-danger btn-rounded mb-3 call-dynamic-form" data-toggle="modal" data-target="#create-project"><i class="mdi mdi-plus"></i> Create Project</button>
    </div>
</div>
<!-- end row-->

<div class="row">
    {% for project in projects_list %}
    <div class="col-md-6 col-xl-4">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="dropdown card-widgets">
                    <a href="javascript:void(0);" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                        <i class="dripicons-dots-3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="" data-toggle="modal"
                                   data-target="#create-project"
                                   data-id={{project.id}}
                                   class="dropdown-item edit-project"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                        <!-- item-->
                        <a href=""
                          data-toggle="modal"
                          data-target="#invite"
                          data-id="{{ project.id }}"
                          class="invite dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a>
                        <!-- item-->
                        <a href=""
                                id="leave-project"
                                data-toggle="modal"
                                data-target="#leave"
                                data-id="{{ project.id }}"
                                class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a>
                    </div>
                </div>
                <!-- project title-->
                <h4 class="mt-0">
                    <a href="{% url 'app:detail' project.slug %}" class="text-dark">{{project.title}}</a>
                </h4>
                {% if project.status == "Active" %}
                <div class="badge badge-success mb-3">{{project.status}}</div>
                {% elif project.status == "Archived" %}
                <div class="badge badge-secondary mb-3">{{project.status}}</div>
                {% elif project.status == "Killed" %}
                <div class="badge badge-danger mb-3">{{project.status}}</div>
                {% else %}
                <div class="badge badge-secondary mb-3">{{project.status}}</div>
                {% endif %}
                <div class="badge badge-primary mb-3">{{project.stage}}</div>

                {% if project.description %}
                <p style="min-height:57px" class="text-muted font-13 mb-3 text-justify">{{project.description|truncatechars:120}} <a href="{% url 'app:detail' project.slug %}" class="font-weight-bold text-muted">view more</a>
                </p>
                {% else %}
                <p style="min-height:57px" class="text-muted font-13 mb-3 text-justify">You haven't added a description for your project yet.
                    <br><br><br>
                </p>
                {% endif %}


                <!-- project detail-->
                <p class="mb-1">
                    <span class="pr-2 text-nowrap mb-2 d-inline-block">
                        <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                        <b>{{project.assumption_set.count }}</b> Assumptions
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                        <b>{{project.comment_set.count }}</b> Comments
                    </span>
                </p>
                <div>
                    {% for member in project.team_set.all|slice:":4" %}
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{member.user.first_name}} {{member.user.last_name}}" class="d-inline-block">
                        {% for profile in member.user.profile_set.all %}
                        <img src="{{profile.profile_image.url}}" class="rounded-circle avatar-xs">
                        {% endfor %}
                    </a>
                   {% endfor %}
                   {% if project.team_set.count > 4 %}
                   +<a href="javascript:void(0);" class="d-inline-block text-dark font-weight-bold ml-2">
                        {{project.team_set.count|add:"-4"}} more
                    </a>
                    {% endif %}

                </div>
            </div> <!-- end card-body-->
            <!--<ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>-->
        </div> <!-- end card-->
    </div> <!-- end col -->
    {% endfor %}
</div>
<!-- end row-->
<!--  Modal content for the above example -->
<div class="modal fade" id="create-project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Create Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="modal-body">
                <form id="post-form" action="/project/create/" method="post">
                    <div class="form-group mb-3">
                        <label for="simpleinput">Title</label>
                        <input id="title" type="text" id="simpleinput" class="form-control" placeholder="Add a title..." required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-textarea">Description</label>
                        <textarea id="description"class="form-control" id="example-textarea" rows="3" placeholder="Add a description..."></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Stage</label>
                        <select class="form-control" id="example-select">
                            <option>Seed I</option>
                            <option>Seed II</option>
                            <option>Seed III</option>
                            <option>Launch I</option>
                            <option>Launch II</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-form">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--  Modal content for the above example -->
<div class="modal fade" id="edit-project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Edit Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="post-form" action="/project/create/" method="post">
                    <div class="form-group mb-3">
                        <label for="simpleinput">Title</label>
                        <input id="title" type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-textarea">Description</label>
                        <textarea id="description"class="form-control" id="example-textarea" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Stage</label>
                        <select class="form-control" id="example-select">
                            <option>Seed I</option>
                            <option>Seed II</option>
                            <option>Seed III</option>
                            <option>Seed Launch</option>
                            <option>Launch</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Status</label>
                        <select class="form-control" id="example-select">
                            <option>Active</option>
                            <option>Archived</option>
                            <option>Draft</option>
                            <option>Killed</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--  Modal content for the above example -->
<div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Invite</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5 class="mt-0">Add a team member</h5>
                <p>Type the email adress of the team member you want to add. An invite message will be sent to join your project.</p>
                <div id="invite-form">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submit-invite">Send</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="leave" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-warning h1 text-warning"></i>
                    <h4 class="mt-2">Leave project</h4>
                    <p class="mt-3">Are you sure you want to leave this project? You won't be able to access it anymore.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" id="leave-submit" class="btn btn-warning">Leave</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block js %}
<script>
$(function() {
  $('.call-dynamic-form').click(function(){
    var self = $(this);
    $.get('/api/project/form', function(form) {
      $('#modal-body').html(form);
    });
  });

  $('.edit-project').click(function(){
    var self = $(this);
    $.get('/api/project/form/' + self.attr('data-id'), function(form) {
      $('#modal-body').html(form);
    });
  });

$('.submit-form','#create-project').click(function(){
    var form = $('form', '#create-project').serialize();
    var id = $('#doc-id').val();

    var path = '/api/project/form';
    if (id > 0) {
      path += '/' + id
    }

    $.post(path, form, function(data) {
      $('#create-project').modal('toggle')
      window.location.reload();
    }).fail(function(xhr, status, error) {
      $('#modal-body').html(xhr.responseText);
    });
  });

  $('.invite').click(function(){
    var self = $(this);
    var id = self.attr('data-id');

    $.get('/api/invite/' + id, function(form) {
      $('#invite-form').html(form);
    });
  });

  $('#submit-invite').click(function(){
    var form = $('form', '#invite-form').serialize();
    var id = $('#project', '#invite-form').val();

    var path = '/api/invite/' + id;

    $.post(path, form, function(data) {
      $('#invite').modal('toggle')
    }).fail(function(xhr, status, error) {
      if (xhr.status != 400) {
        $('#invite').modal('toggle')
        return;
      }
      $('#invite-form').html(xhr.responseText);
    });
  });

  $('#leave-project').click(function(){
    var id = $(this).attr('data-id');
    $('#leave-submit').attr('data-id', id);
  });

  $('#leave-submit').click(function(){
    var id = $(this).attr('data-id');
    var path = '/api/leave/' + id;

    $.post(path, function(data) {
      $('#leave').modal('toggle');
      window.location.reload();
    });
  });
});
</script>

{% endblock %}
