{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!-- start page title -->
<input type="hidden" id="project" value="{{ project.id }}">
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Projects</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:detail' project.slug %}">{{project.title}}</a></li>
                    <li class="breadcrumb-item active">Launch</li>
                </ol>
            </div>
            <h4 class="page-title">{{project.title}} - Launch</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'app:seed' project.slug %}"><h4 class="header-title">Launch</h4></a>
                <div class="timeline-alt pb-0">
                    <div class="timeline-item">
                        {% if dvf_launch.0.desirability == "On Track" %}
                        <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.desirability}}"></i>
                        {% elif dvf_launch.0.desirability == "Delayed" %}
                        <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.desirability}}"></i>
                        {% elif dvf_launch.0.desirability == "At Risk" %}
                        <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.desirability}}"></i>
                        {% else %}
                        <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                        {% endif %}
                        <div class="timeline-item-info">
                            <a href="#" class="mb-1 d-block" style="color:#6c757d">Desirabilty</a>
                            <p></p>
                        </div>
                    </div>

                    <div class="timeline-item">
                        {% if dvf_launch.0.viability == "On Track" %}
                        <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.viability}}"></i>
                        {% elif dvf_launch.0.viability == "Delayed" %}
                        <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.viability}}"></i>
                        {% elif dvf_launch.0.viability == "At Risk" %}
                        <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.viability}}"></i>
                        {% else %}
                        <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                        {% endif %}
                        <div class="timeline-item-info">
                            <a href="#" class="mb-1 d-block" style="color:#6c757d">Viability</a>
                            <p></p>
                        </div>
                    </div>

                    <div class="timeline-item">
                        {% if dvf_launch.0.feasibility == "On Track" %}
                        <i class="bg-success-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.feasibility}}"></i>
                        {% elif dvf_launch.0.feasibility == "Delayed" %}
                        <i class="bg-warning-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.feasibility}}"></i>
                        {% elif dvf_launch.0.feasibility == "At Risk" %}
                        <i class="bg-danger-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{dvf_launch.0.feasibility}}"></i>
                        {% else %}
                        <i class="bg-secondary-lighten text-info timeline-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="No data"></i>
                        {% endif %}
                        <div class="timeline-item-info">
                            <a href="#" class="mb-1 d-block" style="color:#6c757d">Feasibility</a>
                            <p>
                                {% if dvf_launch.0.updated_at %}
                                <small class="text-muted">{{dvf_launch.0.updated_at|date}}</small>
                                {% else %}
                                <small class="text-muted">NA</small>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-body-->
            {% if permission %}
            <div class="card-footer text-muted">
                <button
                    type="button"
                    {% if dvf_launch.0.id %}
                        class="btn btn-outline-primary btn-sm float-right edit-doc"
                    {% else %}
                        class="btn btn-outline-primary btn-sm float-right call-dynamic-form"
                    {% endif %}
                    data-name="dvf"
                    data-title="Dvf"
                    data-id="{{ dvf_launch.0.id }}"
                    data-toggle="modal"
                    data-target="#bs-example-modal-lg">
                    {% if dvf_launch.0.id %}
                        Edit
                    {% else %}
                        Add
                    {% endif %}
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="card-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-toggle="collapse" href="#cardCollpasec" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
                    <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                </div>
                <h4 class="header-title">Status Summary</h4>
                <p class="text-muted font-14 mb-2">
                    Add your problem in this section and keep track of the hypothesis results
                </p>

                <div class="table-responsive collapse show" id="cardCollpasec" style="max-height:125px; overflow-y: auto;">
                    <table class="table table-top mb-0">
                        <tbody>
                            {% if not summary %}
                            <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                            {% endif %}
                            {% for sum in summary %}
                            <tr class="text-justify">
                                <td>
                                    {{sum.text}}
                                    <br><br>
                                    <small class="text-muted">{{sum.updated_at|date}}</small>
                                </td>
                                {% if permission %}
                                <td class="table-action">
                                        <a
                                          href="javascript: void(0);"
                                          data-id="{{ sum.id }}"
                                          data-name="summary"
                                          data-title="Status summary"
                                          class="action-icon edit-doc">
                                            <i class="mdi mdi-pencil"></i>
                                        </a>
                                        <a href="javascript: void(0);"
                                            data-name="summary"
                                            data-id={{sum.id}}
                                            class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
            {% if permission %}
            <div class="card-footer text-muted">
                <button
                        type="button"
                        class="btn btn-outline-primary btn-sm float-right call-dynamic-form"
                        data-name="summary"
                        data-title="Status summary"
                        data-toggle="modal"
                        data-target="#bs-example-modal-lg">Add New</button>
            </div>
            {% endif %}
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-toggle="collapse" href="#cardCollpaseb" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
                    <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                </div>
                <h4 class="header-title">Past 2 weeks Priorities</h4>
                <p class="text-muted font-14 mb-2">
                    Add your problem in this section and keep track of the hypothesis results
                </p>

                <div class="table-responsive collapse show" id="cardCollpaseb" style="max-height:125px; overflow-y: auto;">
                    <table class="table table-top mb-0">
                        <tbody>
                            {% if not past %}
                            <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                            {% endif %}
                            {% for p in past %}
                            <tr class="text-justify">
                                <td>
                                    {{p.text}}
                                    <br><br>
                                    <small class="text-muted">{{p.updated_at|date}}</small>
                                </td>
                                {% if permission %}
                                <td class="table-action">

                                    <a
                                      href="javascript: void(0);"
                                      data-id="{{ p.id }}"
                                      data-name="past"
                                      data-title="Past 2 weeks priorities"
                                      class="action-icon edit-doc">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                        <a href="javascript: void(0);"
                                            data-name="past"
                                            data-id={{p.id}}
                                            class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
            {% if permission %}
            <div class="card-footer text-muted">
                <button
                        type="button"
                        class="btn btn-outline-primary btn-sm float-right call-dynamic-form"
                        data-toggle="modal"
                        data-name="past"
                        data-title="Past 2 weeks priorities"
                        data-target="#bs-example-modal-lg">Add New</button>
            </div>
            {% endif %}
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-toggle="collapse" href="#cardCollpasea" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
                    <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                </div>
                <h4 class="header-title">Next 2 weeks Priorities</h4>
                <p class="text-muted font-14 mb-2">
                    Add your problem in this section and keep track of the hypothesis results
                </p>

                <div class="table-responsive collapse show" id="cardCollpasea" style="max-height:125px; overflow-y: auto;">
                    <table class="table table-top mb-0">
                        <tbody>
                            {% if not future %}
                            <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                            {% endif %}
                            {% for f in future %}
                            <tr class="text-justify">
                                <td>
                                    {{f.text}}
                                    <br><br>
                                    <small class="text-muted">{{f.updated_at|date}}</small>
                                </td>
                                {% if permission %}
                                <td class="table-action">
                                    <a
                                      href="javascript: void(0);"
                                      data-id="{{ f.id }}"
                                      data-name="future"
                                      data-title="Next 2 weeks priorities"
                                      class="action-icon edit-doc">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                        <a href="javascript: void(0);"
                                            data-name="future"
                                            data-id={{f.id}}
                                            class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
            {% if permission %}
            <div class="card-footer text-muted">
                <button type="button"
                        class="btn btn-outline-primary btn-sm float-right call-dynamic-form"
                        data-toggle="modal"
                        data-name="future"
                        data-title="Next 2 weeks priorities"
                        data-target="#bs-example-modal-lg">Add New</button>
            </div>
            {% endif %}
        </div> <!-- end card-->
    </div> <!-- end col-->

<!-- </div>
<div class="card">
    <div class="card-body">
        <div class="card-widgets">
            <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
            <a data-toggle="collapse" href="#cardCollpase4" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
            <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
        </div>
        <h4 class="header-title">Elevator Pitch</h4>
        <p class="text-muted font-14 mb-2">
            Add your problem in this section and keep track of the hypothesis results
        </p>

        <div class="table-responsive collapse show" id="cardCollpase4" style="max-height:125px; overflow-y: auto;">
            <table class="table table-top mb-0">
                <tbody>
                    {% if not elevators %}
                    <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                    {% endif %}
                    {% for elevator in elevators %}
                    <tr class="text-justify">
                        <td>
                            {{elevator.text}}
                            <br><br>
                            <small class="text-muted">{{elevator.updated_at|date}}</small>
                        </td>
                        {% if permission %}
                        <td class="table-action">
                            <a
                              href="javascript: void(0);"
                              data-id="{{ elevator.id }}"
                              data-name="elevator"
                              data-title="Elevator pitch"
                              class="action-icon edit-doc">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                            <a href="javascript: void(0);"
                                data-name="elevator"
                                data-id={{elevator.id}}
                                class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% if permission %}
    <div class="card-footer text-muted">
        <button type="button"
                class="btn btn-outline-primary btn-sm float-right call-dynamic-form"
                data-toggle="modal"
                data-name="elevator"
                data-title="Elevator pitch"
                data-target="#bs-example-modal-lg">Add New</button>
    </div>
    {% endif %}
</div>
<div class="card">
    <div class="card-body">
        <div class="card-widgets">
            <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
            <a data-toggle="collapse" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
            <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
        </div>
        <h4 class="header-title">Problem</h4>
        <p class="text-muted font-14 mb-2">
            Add your problem in this section and keep track of the hypothesis results
        </p>

        <div class="table-responsive collapse show" id="cardCollpase1" style="max-height:125px; overflow-y: auto;">
            <table class="table table-top mb-0">
                <tbody>
                    {% if not problems %}
                    <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                    {% endif %}
                    {% for problem in problems %}
                    <tr class="text-justify">
                        <td>
                            {{problem.text}}
                            <br><br>
                            <small class="text-muted">{{problem.updated_at|date}}</small>
                        </td>
                        <td>
                            {% if problem.status == "Validated" %}
                            <span class="badge badge-success">{{problem.status}}</span>
                            {% elif problem.status == "In Progress" %}
                            <span class="badge badge-warning" style="color:white">{{problem.status}}</span>
                            {% else %}
                            <span class="badge badge-danger">{{problem.status}}</span>
                            {% endif %}
                        </td>
                        {% if permission %}
                        <td class="table-action">
                            <a
                              href="javascript: void(0);"
                              data-id="{{ problem.id }}"
                              data-name="problem"
                              data-title="Problem"
                              class="action-icon edit-doc">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                            <a href="javascript: void(0);"
                                data-name="problem"
                                data-id={{problem.id}}
                                class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% if permission %}
    <div class="card-footer text-muted">
        <button type="button"
                class="btn btn-outline-primary btn-sm float-right call-dynamic-form"
                data-name="problem"
                data-title="Problem"
                data-toggle="modal"
                data-target="#bs-example-modal-lg">Add New</button>
    </div>
    {% endif %}
</div>


<div class="card">
    <div class="card-body">
        <div class="card-widgets">
            <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
            <a data-toggle="collapse" href="#cardCollpase2" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
            <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
        </div>
        <h4 class="header-title">Solution</h4>
        <p class="text-muted font-14 mb-2">
            Add your solution in this section and keep track of the hypothesis results
        </p>

        <div class="table-responsive collapse show" id="cardCollpase2" style="max-height:125px; overflow-y: auto;">
            <table class="table table-top mb-0">
                <tbody>
                    {% if not solutions %}
                    <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                    {% endif %}
                    {% for solution in solutions %}
                    <tr class="text-justify">
                        <td>
                            {{solution.text}}
                            <br><br>
                            <small class="text-muted">{{solution.updated_at|date}}</small>
                        </td>
                        <td>
                            {% if solution.status == "Validated" %}
                            <span class="badge badge-success">{{solution.status}}</span>
                            {% elif solution.status == "In Progress" %}
                            <span class="badge badge-warning" style="color:white">{{solution.status}}</span>
                            {% else %}
                            <span class="badge badge-danger">{{solution.status}}</span>
                            {% endif %}
                        </td>
                        {% if permission %}
                        <td class="table-action">
                            <a
                              href="javascript: void(0);"
                              data-id="{{ solution.id }}"
                              data-name="solution"
                              data-title="Solution"
                              class="action-icon edit-doc">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                            <a href="javascript: void(0);"
                                data-name="solution"
                                data-id={{solution.id}}
                                class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% if permission %}
    <div class="card-footer text-muted">
        <button
                type="button"
                data-name="solution"
                data-title="Solution"
                data-toggle="modal"
                data-target="#bs-example-modal-lg"
                class="btn btn-outline-primary btn-sm float-right call-dynamic-form">Add New</button>
    </div>
    {% endif %}
</div>

<div class="card">
    <div class="card-body">
        <div class="card-widgets">
            <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
            <a data-toggle="collapse" href="#cardCollpase3" role="button" aria-expanded="false" aria-controls="cardCollpase3"><i class="mdi mdi-minus"></i></a>
            <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
        </div>
        <h4 class="header-title">Business Model</h4>
        <p class="text-muted font-14 mb-2">
            Add your business model in this section and keep track of the hypothesis results
        </p>

        <div class="table-responsive collapse show" id="cardCollpase3" style="max-height:125px; overflow-y: auto;">
            <table class="table table-top mb-0">
                <tbody>
                    {% if not models %}
                    <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                    {% endif %}
                    {% for model in models %}
                    <tr class="text-justify">
                        <td>
                            {{model.text}}
                            <br><br>
                            <small class="text-muted">{{model.updated_at|date}}</small>
                        </td>
                        <td>
                            {% if model.status == "Validated" %}
                            <span class="badge badge-success">{{model.status}}</span>
                            {% elif model.status == "In Progress" %}
                            <span class="badge badge-warning" style="color:white">{{model.status}}</span>
                            {% else %}
                            <span class="badge badge-danger">{{model.status}}</span>
                            {% endif %}
                        </td>
                        {% if permission %}
                        <td class="table-action">
                            <a
                              href="javascript: void(0);"
                              data-id="{{ model.id }}"
                              data-name="business_model"
                              data-title="Business model"
                              class="action-icon edit-doc">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                            <a href="javascript: void(0);"
                                data-name="business_model"
                                data-id={{model.id}}
                                class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% if permission %}
    <div class="card-footer text-muted">
        <button
                type="button"
                data-name="business_model"
                data-title="Business model"
                data-toggle="modal"
                data-target="#bs-example-modal-lg"
                class="btn btn-outline-primary btn-sm float-right call-dynamic-form">Add New</button>
    </div>
    {% endif %}
</div> -->

<div class="card">
    <div class="card-body">
        <div class="card-widgets">
            <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
            <a data-toggle="collapse" href="#cardCollpase4" role="button" aria-expanded="false" aria-controls="cardCollpase3"><i class="mdi mdi-minus"></i></a>
            <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
        </div>
        <h4 class="header-title">Assumptions</h4>
        <p class="text-muted font-14 mb-2">
            Add all assumptions, metrics, and status for your project in this section
        </p>

        <div class="table-responsive crd collapse show" id="cardCollpase4">
            <table class="table table-hover table-top mb-0 mt-2">
                <tbody>
                    {% if not assumptions %}
                    <p><i class="text-muted fa fa-exclamation-triangle"></i> No data available</p>
                    {% else %}
                    <tr>
                        <th></th>
                        <th>What to Test</th>
                        <th>How to Test</th>
                        <th>Learnings</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    {% for assumption in assumptions %}
                    <tr class="text-justify">
                        <td>
                            <span class="badge badge-light">{{assumption.dvf|capfirst}}</span>
                            <small>{{assumption.updated_at|date:'M d, y'}}</small>
                        </td>
                        <td>
                            {{assumption.assumption}}
                        </td>
                        <td>
                            {{assumption.metric}}
                        </td>
                        <td>
                            {{assumption.learnings}}
                        </td>
                        <td>
                            {% if assumption.status == "Validated" %}
                            <span class="badge badge-success">{{assumption.status}}</span>
                            {% elif assumption.status == "In Progress" %}
                            <span class="badge badge-warning">{{assumption.status}}</span>
                            {% else %}
                            <span class="badge badge-danger">{{assumption.status}}</span>
                            {% endif %}
                        </td>
                        {% if permission %}
                        <td class="table-action">
                            <a
                              href="javascript: void(0);"
                              data-id="{{ assumption.id }}"
                              data-name="assumption"
                              data-title="Assumptions"
                              class="action-icon edit-doc">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                            <a href="javascript: void(0);"
                                data-name="assumption"
                                data-id={{assumption.id}}
                                class="action-icon remove"> <i class="mdi mdi-delete"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
    {% if permission %}
    <div class="card-footer text-muted">
        <button
                type="button"
                data-name="assumption"
                data-title="Assumptions"
                data-toggle="modal"
                data-target="#bs-example-modal-lg"
                class="btn btn-outline-primary btn-sm float-right call-dynamic-form">Add New</button>
    </div>
    {% endif %}
</div>
<!--  Modal content for the above example -->
<div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Problem</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="form-group mb-3">
                        <label for="example-textarea">Problem Statement</label>
                        <textarea class="form-control" id="example-textarea" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Status</label>
                        <select class="form-control" id="example-select">
                            <option>In Progress</option>
                            <option>Validated</option>
                            <option>Invalidated</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit-form">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--  Modal content for the above example -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
  aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="modal-body">
              Are you sure to delete this element?
              <form>
                <input type="hidden" id="remove-id" value="" />
                <input type="hidden" id="remove-name" value="" />
                {% csrf_token %}
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger delete-button">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block js %}
<script>
$(function() {
  $('.call-dynamic-form').click(function(){
    var self = $(this);
    $('#myLargeModalLabel').text(self.attr('data-title'));
    $.get('/api/model/form/' + self.attr('data-name') + '/project/' + $('#project').val(), function(form) {
      $('#modal-body').html(form);
      $('#id_stage').val('launch');
    });
  });

  $('.submit-form','#bs-example-modal-lg').click(function(){
    var form = $('form', '#bs-example-modal-lg').serialize();
    var project_id = $('#project').val();
    var id = $('#doc-id').val();
    var form_name = $('#form-name').val();

    var path = form_name + '/project/' + project_id;
    if (id > 0) {
      path += '/id/' + id
    }

    $.post('/api/model/form/' + path, form, function(data) {
      $('#bs-example-modal-lg').modal('toggle')
      window.location.reload();
    });
  });

  $('.edit-doc').click(function(){
    var self = $(this);
    $('#myLargeModalLabel').text(self.attr('data-title'));
    $('#bs-example-modal-lg').modal('show');

    var path = self.attr('data-name') + '/project/' + $('#project').val() + '/id/' + self.attr('data-id');

    $.get('/api/model/form/' + path, function(form) {
      $('#modal-body').html(form);
      $('#id_stage').val('launch');
    });
  });
  $('.delete-button').click(function(){
    var name = $('#remove-name').val();
    var id = $('#remove-id').val();
    var path = name + '/project/0/id/' + id;

    var data = $('form', '#delete-modal').serialize();
    $('#delete-modal').modal('hide');

    return $.ajax({
      url: '/api/model/form/' + path,
      type: 'DELETE',
      data: data,
      success: function() {
        window.location.reload();
      },
    });
  });

  $('.remove').click(function(){
    var self = $(this);
    var name = self.attr('data-name');
    var id = self.attr('data-id');
    $('#remove-id').val(id);
    $('#remove-name').val(name);
    $('#delete-modal').modal('show');
  });
});
</script>
{% endblock %}
