{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">UA Framework</a></li>
                    <li class="breadcrumb-item active">The Academy</li>
                </ol>
            </div>
            <h4 class="page-title">The Academy</h4>
        </div>
    </div>
</div>
{% if not billing %}
<div class="row">
    <div class="col-8">
        <div class="alert alert-warning" role="alert">
            <i class="dripicons-warning"></i> To access <b>"The Academy"</b> content, you need to subscribe first. To review the subscription options, <a href="{% url 'app:subscribe' %}">click here</a> .
        </div>
        <div class="card">
            <div class="card-body">
                <h3>This is what you'll learn in the Academy</h3>
                <p class="lead">The content on each of the sections will give you a clear understanding fo how digital marketing works and how to acquire users.</p>
                <hr>
                <a href="{% url 'app:subscribe' %}"><div class="btn btn-success" style="width:100%"> Subscribe Now</div></a>
                <hr>
                <h4>1. Business & Customer Strategy</h4>
                <p>Start the User Acquisition journey by setting up a clear business and customar strategy.</p>

                <h4>2. Objective First Framework</h4>
                <p>Set better objectives by using this common method that will help you optimize your campaigns.</p>

                <h4>3. Search Engine Optimization</h4>
                Here you will learn why SEO matters and how to optimize for search engines so you can drive more organic traffic.

                <h4>4. Paid Advertising</h4>
                <p>Learn how google paid search works and how to optimize your campaigns to get the most value out of your advertisement budget.</p>

                <h4>5. Content Marketing</h4>
                <p>Learn why good content makes a difference and what are some best practices you can start doing to improve engagement.</p>

                <h4>6. Convertion Rate Optimization</h4>
                <p>In this section you will learn the basics of improving your convertion rate and the importance of AB testing.</p>

                <h4>7. Customer Engagement & Retention</h4>
                <p>Learn how to engage better with your users and how to convert them into recurring customers.</p>

                <h4>8. Analytics</h4>
                <p>One of the most important things to have a succesfull User Acquisition Strategy is to gather data and understand it. Here you will learn how to get the most out of Google Analytics.</p>

                <h4>9. Facebook Deep Dive</h4>
                <p>In this section you'll learn the importance of Facebook Marketing, how to setup campaigns and best practices for better performance.</p>

                <h4>10. Storytelling and Budget Planning</h4>
                <p>Here you will learn how to define your User Acquisition budget.</p>
                <hr>
                <a href="{% url 'app:subscribe' %}"><div class="btn btn-success" style="width:100%"> Subscribe Now</div></a>
            </div> <!-- end card-body-->
        </div>
    </div>
</div>
{% else %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-3">Learn the User Acquisition Framework</h4>

                <div class="row">
                    <div class="col-sm-3 mb-2 mb-sm-0">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active show" data-id="nav-1"
                                    id="v-pills-home-tab" data-toggle="pill"
                                    href="#v-pills-1" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-zx_dashboard">Intro
                                    {% if progress.intro %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-2"
                                    id="v-pills-profile-tab" data-toggle="pill"
                                    href="#v-pills-2" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-os_model">Elevator Pitch
                                    {% if progress.elevator_pitch %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-3"
                                    id="v-pills-settings-tab" data-toggle="pill"
                                    href="#v-pills-3" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-assumptions">Customer Persona
                                    {% if progress.customer_persona %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-4" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-elevator_pitch">Empathy Map
                                    {% if progress.empathy_map %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-5" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-problem">Obj. First Framework
                                    {% if progress.obj %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-6" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-solution">SEO
                                    {% if progress.seo %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-7" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-7" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-business_model">How Google Works
                                    {% if progress.google %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-8" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-8" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-checkpoint">Content for SEO
                                    {% if progress.content %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-9" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-9" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block block-assumption_list">Tech for SEO
                                    {% if progress.tech %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-12" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-12" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Next Steps
                                    {% if progress.next_steps %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </div> <!-- end col-->

                    <div class="col-sm-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            {% for t in tutorial %}
                            {% if forloop.first %}
                            <div class="tab-pane fade active show"
                            {% else %}
                            <div class="tab-pane fade "
                            {% endif %}
                                 id="v-pills-{{ forloop.counter }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                {{t.content|safe}}
                                <div class="row">
                                    <div class="col-10">
                                        <p class="float-right"><b>Mark as Complete</b></p>
                                    </div>
                                    <div class="col-2">
                                        <div>
                                                <input type="checkbox"
                                                       id="switch{{ forloop.counter }}"
                                                       data-id="{{ forloop.counter0 }}"
                                                       data-switch="success"
                                                       {% if forloop.counter0 == 0 and saved.0 %}
                                                        checked
                                                       {% elif forloop.counter0 == 1 and saved.1 %}
                                                        checked
                                                       {% elif forloop.counter0 == 2 and saved.2 %}
                                                        checked
                                                       {% elif forloop.counter0 == 3 and saved.3 %}
                                                        checked
                                                       {% elif forloop.counter0 == 4 and saved.4 %}
                                                        checked
                                                       {% elif forloop.counter0 == 5 and saved.5 %}
                                                        checked
                                                       {% elif forloop.counter0 == 6 and saved.6 %}
                                                        checked
                                                       {% elif forloop.counter0 == 7 and saved.7 %}
                                                        checked
                                                       {% elif forloop.counter0 == 8 and saved.8 %}
                                                        checked
                                                       {% elif forloop.counter0 == 9 and saved.9 %}
                                                        checked
                                                       {% elif forloop.counter0 == 10 and saved.10 %}
                                                        checked
                                                       {% elif forloop.counter0 == 11 and saved.11 %}
                                                        checked
                                                       {% endif %}

                                                />
                                                <label for="switch{{ forloop.counter }}"
                                                        data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:50px">
                                    <div class="col-sm-6">
                                        {% if not forloop.first %}
                                            <div class="btn btn-success left">Previous</div>
                                        {% endif %}
                                    </div>
                                    {% if not forloop.last %}
                                    <div class="col-sm-6">
                                        <div class="btn btn-success float-right">Continue</div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div> <!-- end tab-content-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
            </div> <!-- end card-body-->
        </div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block js %}
<script>
$(function() {
  $('input[type="checkbox"]').on('change', function(){
    var self = $(this);
    var id = self.attr('data-id');
    var checked = self.prop('checked') ? 1 : 0;

    var items = $('.d-none');
    if (items.length > id) {

      if (checked) {
        $(items[id]).append('<i class="mdi mdi-check-circle text-success float-right"></i>');
      } else {
        $(items[id]).find('i').remove();
      }
    }

    $.post('/api/learn/progress/'+id+'/value/'+checked, function(){});
  });
});
</script>
{% endblock %}
