{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Learn</a></li>
                    <li class="breadcrumb-item active">Learn the OS</li>
                </ol>
            </div>
            <h4 class="page-title">Learn</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-3">Learn the OS</h4>

                <div class="row">
                    <div class="col-sm-3 mb-2 mb-sm-0">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active show" data-id="nav-1"
                                    id="v-pills-home-tab" data-toggle="pill"
                                    href="#v-pills-1" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">ZX Dashboard
                                    {% if progress.0.zx_dashboard %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-2"
                                    id="v-pills-profile-tab" data-toggle="pill"
                                    href="#v-pills-2" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">OS Model
                                    {% if progress.0.os_model %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-3"
                                    id="v-pills-settings-tab" data-toggle="pill"
                                    href="#v-pills-3" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Assumptions
                                    {% if progress.0.assumptions %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-4" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Elevator Pitch
                                    {% if progress.0.elevator_pitch %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-5" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Problem
                                    {% if progress.0.problem %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-6" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Solution
                                    {% if progress.0.solution %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-7" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-7" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Business Model
                                    {% if progress.0.business_model %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-8" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-8" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Checkpoint
                                    {% if progress.0.checkpoint %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-9" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-9" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Assumption List
                                    {% if progress.0.assumption_list %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-10" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-10" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Traction
                                    {% if progress.0.traction %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-11" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-11" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Dashboard
                                    {% if progress.0.dashboard %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                            <a class="nav-link" data-id="nav-12" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-12" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block">Next Steps
                                    {% if progress.0.next_steps %}
                                    <i class="mdi mdi-check-circle text-success float-right"></i>
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </div> <!-- end col-->

                    <div class="col-sm-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            {% for t in tutorial %}
                            {% if forloop.first %}
                            <div class="tab-pane fade active show"
                            {% else %}
                            <div class="tab-pane fade "
                            {% endif %}
                                 id="v-pills-{{ forloop.counter }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                {{t.content|safe}}
                                <div class="row">
                                    <div class="col-10">
                                        <p class="float-right"><b>Mark as Complete</b></p>
                                    </div>
                                    <div class="col-2">
                                        <div>
                                                <input type="checkbox"
                                                       id="switch{{ forloop.counter }}"
                                                       data-id="{{ forloop.counter0 }}"
                                                       data-switch="success"
                                                       {% if forloop.counter0 == 0 and saved.0 %}
                                                        checked
                                                       {% elif forloop.counter0 == 1 and saved.1 %}
                                                        checked
                                                       {% elif forloop.counter0 == 2 and saved.2 %}
                                                        checked
                                                       {% elif forloop.counter0 == 3 and saved.3 %}
                                                        checked
                                                       {% elif forloop.counter0 == 4 and saved.4 %}
                                                        checked
                                                       {% elif forloop.counter0 == 5 and saved.5 %}
                                                        checked
                                                       {% elif forloop.counter0 == 6 and saved.6 %}
                                                        checked
                                                       {% elif forloop.counter0 == 7 and saved.7 %}
                                                        checked
                                                       {% elif forloop.counter0 == 8 and saved.8 %}
                                                        checked
                                                       {% elif forloop.counter0 == 9 and saved.9 %}
                                                        checked
                                                       {% elif forloop.counter0 == 10 and saved.10 %}
                                                        checked
                                                       {% elif forloop.counter0 == 11 and saved.11 %}
                                                        checked
                                                       {% endif %}

                                                />
                                                <label for="switch{{ forloop.counter }}"
                                                        data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:50px">
                                    <div class="col-sm-6">
                                        {% if not forloop.first %}
                                            <div class="btn btn-success left">Previous</div>
                                        {% endif %}
                                    </div>
                                    {% if not forloop.last %}
                                    <div class="col-sm-6">
                                        <div class="btn btn-success float-right">Continue</div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div> <!-- end tab-content-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
            </div> <!-- end card-body-->
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function() {
  $('input[type="checkbox"]').on('change', function(){
    var self = $(this);
    var id = self.attr('data-id');

    var checked = self.prop('checked') ? 1 : 0;

    $.post('/api/learn/progress/'+id+'/value/'+checked, function(){});
  });
});
</script>
{% endblock %}
