{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item active">Library</li>
                </ol>
            </div>
            <h4 class="page-title">Library</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 


<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <h3 class="">OS Library</h3>
            <p class="text-muted mt-3">In this section, you can find all the resources and tools that will help you move your project through the OS. <br>We recommend you take a look at all of them.</p>

        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row pt-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
        {% for resource in resources_list %}
        <div class="col-sm-6">
            <div>
                <div class="faq-question-q-box">
                    <i class="fa fa-file"></i>
                </div>
                <h4 class="faq-question" data-wow-delay=".1s">
                    <a href="{{resource.link}}" class="text-secondary" target="_blank">{{resource.title}}</a>
                </h4>
                <p class="faq-answer mb-4 text-justify">{{resource.excerpt}}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- end row -->
{% endblock %}