{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<style>
  [v-cloak] { display:none; }
  .label-success {
    margin-right: 3px;
  }
</style>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BOX OS</a></li>
                    <li class="breadcrumb-item active">Library</li>
                </ol>
            </div>
            <h4 class="page-title">Tools</h4>
        </div>
    </div>
</div>
<!-- end page title -->

{% verbatim %}
<div id="tools" v-cloak>

<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <h3 class="">OS Tools</h3>
            <p class="text-muted mt-3">In this section, you can find some of our favorite tools to run tasks such as AB testing, <br>developing a brand and logo, creating landing pages, and more.
        </div>
    </div><!-- end col -->
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <p class="mb-1 mt-3 font-weight-bold text-muted"><i class="fa fa-search"></i> Search</p>

        <input type="text" ref="search" v-model="search" placeholder="Search" name="search" autocomplete="off" maxlength="200" class="form-control" rows="2" required="" id="id_title" autofocus>

        <select v-model="cat" class="select2 form-control select2-multiple"
                data-placeholder="Choose ..." style="margin-top:13px;">
           <option v-for="cat in cats" v-bind:value="cat">{{cat}}</option>
           <option value="other">other</option>
        </select>
    </div> <!-- end col -->
</div><!-- end row -->

<div class="row pt-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row mb-5">
            <div class="card-columns">
                <div class="card" v-for="tool in filteredList()">
                    <!-- project-thumbnail -->
                    <div class="card-img-top"
                    v-bind:style="{'background-image':'url(/media/' + tool.fields.image + ')', height:'150px', 'background-size':'cover', 'background-position':'center'}"></div>
                    <div class="card-img-overlay">
                        <div class="badge badge-secondary p-1">{{tool.fields.category}}</div>
                    </div>

                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            <a v-bind:href="tool.fields.link" target="_blank" class="text-dark">{{tool.fields.title}}</a>
                            <a v-bind:href="tool.fields.link" target="_blank"><i class="mdi mdi-open-in-new float-right"></i></a>
                        </h4>
                        <p class="text-justify">{{tool.fields.excerpt}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endverbatim %}
<!-- end row -->
{% endblock %}

{% block js %}
<script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
<script src="/static/assets/js/tools.vue.js"></script>
{% endblock %}
