{% extends "account/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<!-- CONTENT
================================================== -->
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
          
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Sign in
      </h1>
      
      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Access the VC Platform Network
      </p>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
      {% endif %}
      
      <!-- Form -->
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        <!-- Email address -->
        <div class="form-group">

          <!-- Label -->
          <label>Email Address</label>

          <!-- Input -->
          {{ form.login|add_class:"form-control"|attr:"placeholder:name@address.com"|attr:"required"|attr:"autofocus"|attr:"type:email" }}

        </div>

        <!-- Password -->
        <div class="form-group">

          <div class="row">
            <div class="col">
                  
              <!-- Label -->
              <label>Password</label>

            </div>
            <div class="col-auto">
              
              <!-- Help text -->
              <a href="{% url 'account_reset_password' %}" class="form-text small text-muted">
                Forgot password?
              </a>

            </div>
          </div> <!-- / .row -->

          <!-- Input group -->
          <div class="input-group input-group-merge">

            <!-- Input -->
            {{ form.password|add_class:"form-control"|attr:"placeholder:Enter your password"|attr:"required"|attr:"type:password" }}

          </div>
        </div>

        <!-- Submit -->
        <button class="btn btn-lg btn-block btn-primary mb-3" type="submit">
          Sign in
        </button>

        <!-- Link -->
        <p class="text-center">
          <small class="text-muted text-center">
            Don't have an account yet? <a href="{% url 'account_signup' %}">Sign up</a>.
          </small>
        </p>
        
      </form>

    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
      
      <!-- Image -->
      <div class="bg-cover vh-100 mt--1 mr--3" style="background-image: url({% static 'assets/img/covers/vcplatform-cover-1.jpg' %});"></div>

    </div>
  </div> <!-- / .row -->
</div>
{% endblock %}