{% extends "account/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<!-- CONTENT
================================================== -->
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
          
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Sign Up
      </h1>
      
      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Create your account here.
      </p>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
      {% endif %}
      
      <!-- Form -->
      <form class="login" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <div class="form-group">

          <!-- Label -->
          <label>Username</label>

          <!-- Input -->
          {{ form.username|add_class:"form-control"|attr:"placeholder:username"|attr:"required"|attr:"autofocus"|attr:"type:text" }}

        </div>

        <div class="form-group">

          <!-- Label -->
          <label>Email Address</label>

          <!-- Input -->
          {{ form.email|add_class:"form-control"|attr:"placeholder:name@address.com"|attr:"required"|attr:"type:email" }}

        </div>

        <div class="form-group">

          <!-- Label -->
          <label>Password</label>

          <!-- Input -->
          {{ form.password1|add_class:"form-control"|attr:"placeholder:Enter your password"|attr:"required"|attr:"type:password" }}

        </div>

        <div class="form-group">

          <!-- Label -->
          <label>Repeat Password</label>

          <!-- Input -->
          {{ form.password2|add_class:"form-control"|attr:"placeholder:Enter your password"|attr:"required"|attr:"type:password" }}

        </div>

        <!-- Submit -->
        <button class="btn btn-lg btn-block btn-primary mb-3" type="submit">
          Sign in
        </button>

        <!-- Link -->
        <p class="text-center">
          <small class="text-muted text-center">
            Already have account? <a href="{{ login_url }}" class="ml-1">Log In</a>
          </small>
        </p>
        
      </form>

    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
      
      <!-- Image -->
      <div class="bg-cover vh-100 mt--1 mr--3" style="background-image: url({% static 'assets/img/covers/auth-side-cover.jpg' %});"></div>

    </div>
  </div> <!-- / .row -->
</div>
{% endblock %}