<!-- Seed I to III -->
<div class="modal fade" id="seed" tabindex="-1" role="dialog" aria-labelledby="assumptions" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel1">Seed I-III</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-justify">
                <p>
                    Using the OS is the foundation of our approach. Think of it like a ‘stage gate’ type model for building a disruptive new venture. Unlike Stage-Gate, ventures do not pass sequentially through the OS (with graduations being approved at meetings and so forth).
                    <br>
                    <br>
                    Ventures can move forward and backwards fluidly as our learning improves and our focus needs to change. We can also use a latter stage of the OS (for example, a ‘Solution’ or ‘Business Model’ idea as a means of helping identify and validate a ‘Problem’ – which is an earlier stage).
                </p>
                <ul>
                    <li>
                        <b>SEED I</b>: “PROBLEM” - A venture is seeking to prove the existence, size and acuteness of a consumer problem, and clearly identify the consumer who has it.
                    </li>
                    <li>
                        <b>SEED II</b>: “SOLUTION” - A venture is has validated a user problem, and is now seeking to validate the best solution to solve the problem.
                    </li>
                    <li>
                        <b>SEED III</b>: A venture has validated a problem and solution, and is seeking to validate its business model through which the solution will be commercialized for the consumer.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Elevator Pitch -->
<div class="modal fade" id="elevator" tabindex="-1" role="dialog" aria-labelledby="elevator" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Elevator Pitch</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-justify" id="modal-body">
                <p>An elevator pitch is a brief, persuasive speech that you use to spark interest in what your organization does. You can also use them to create interest in a project, idea, or product – or in yourself. A good elevator pitch should last no longer than a short elevator ride of 20 to 30 seconds, hence the name.
                <br><br>
                They should be interesting, memorable, and succinct. They also need to explain what makes you – or your organization, product, or idea – unique.</p>
                <p>This is a good structure to follow:</p>
                <ul>
                    <li>We help ____(consumer X)_____ who ___(problem)___ to ___(solution)___ by ___(how it works)___</li>
                    <li>Our product/technology is like the ___(insert analogy of comparative company)___ of/for ___(insert your category)___. For example, our venture is like Uber for Trucking.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  Problem -->
<div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="primary" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Problem</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-justify" id="modal-body">
                <p>Ideally your Problem should be a detailed description which encompasses various elements you’ve identified (first as Assumptions, then Hypotheses, then Validated, evidence-backed statements).</p>
                <p>Elements might include:</p>
                <ul>
                    <li>A description of your primary user (age range, sex, demographic information)</li>
                    <li>The underlying needs they’re trying to fulfill</li>
                    <li>Their current behavior or choices</li>
                    <li>Their current tension or frustration (pain points)</li>
                    <li>An identification of what potential pain relievers are for the problem</li>
                    <li>An estimated size of the problem or need (we often refer to this as the ‘Total Addressable Need’, which is where we try and identify how big the market may be to solve this problem).</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Solution -->
<div class="modal fade" id="solution" tabindex="-1" role="dialog" aria-labelledby="solution" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Solution</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-justify" id="modal-body">
                <p>A "Solution" is just another word for a Product or Idea. We frame it as a solution to keep you focused on the user/customer and the problem you’re solving.</p>
                <p>Here is your opportunity to lay out your idea. Describe what it is and how it works in detail. There’s no real right or wrong way to do this stage – but as usual, try to keep it simple and very clear for anyone to understand.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Business Model -->
<div class="modal fade" id="businessmodel" tabindex="-1" role="dialog" aria-labelledby="businessmodel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Business Model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-justify" id="modal-body">
                <p>A business model is a company's plan for how it will generate revenues and make a profit. It explains what products or services the business plans to manufacture and market, and how it plans to do so, including what expenses it will incur.</p>
                <p>To develop it, we use a Business model canvas beacuse it focuses more on how the business actually works. This includes its key channels, resources, customers, partnerships, revenue model and so on.</p>
                <p>Use this link to create your <a href="https://strategyzer.com/canvas/business-model-canvas" target="_blank">business model canvas</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>